<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_answer">
	{{ include('./inc/header.html') }}
	<section class="sec sec_consult_question">
		<h2 class="sec_ttl ic {{ consultation_info.class }}"><strong>{{ consultation_info.big_category_name }}</strong></h2>
		<div class="sec_inner">
			<h3 class="content_ttl">{{ consultation_info.title }}</h3>
			<p class="sec_desc">
				<span class="user_name">相談者：{{ consultation_info.nick_name }}さん</span>
				<span class="post_date">{{ consultation_info.time_ago }}</span>
			</p>
			<div class="consult_question_content">
				{% if consultation_info.up_image != null %}
				<p><img src="{{ consultation_info.up_image }}"></p>
				{% endif %}
				<p>{{ consultation_info.message|raw|nl2br }}</p>
			</div>
		</div>
	</section>
	<section class="sec sec_answer">
		<form method="post" action="{{ base_url }}bb/answer_confirm" class="answer_form validate" novalidate>
			<input type="hidden" name="nickname" value="{{ nickname }}">
			<input type="hidden" name="answer_id" value="{{ answer_id }}">
			<h2 class="sec_ttl">回答の入力</h2>
			<div class="sec_inner">
				<div class="input_form">
					<dl class="input_nickname">
						<dt class="ic_required">回答者のお名前</dt>
						<dd>
							<p>{{ nickname }}さん</p>
							<p class="t_right"><a href="{{main_url}}user/settings" class="t_link">ニックネームの変更</a></p>
						</dd>
					</dl>
					<dl class="input_content">
						<dt class="ic_required">回答内容</dt>
						<dd class="cf ui-count_form">
							{#<textarea placeholder="相談内容を入力してください。" name="answer_message"></textarea>#}
							{{form_textarea('answer_message',set_value('answer_message','',false),{placeholder:"回答内容を入力してください",maxlength:1000,class:"ui-count_input"})|raw}}
							<p class="input_desc">※全角30文字～1000文字</p>
							<p class="input_count">1000</p>
						</dd>
					</dl>
					<dl>
						<dt>画像アップロード</dt>
						<dd>
							<input id="upload_img" type="file" value="" name="userfile"></p>
							<input id="image_file_name" type="hidden" value="" name="image_file_name">
						</dd>
					</dl>
					<ul class="btn_wrap">
						<li>
							<button type="submit" class="btn_style btn_green">入力内容の確認へ</button>
						</li>
					</ul>
				</div>
			</div>
		</form>
	</section>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script>
$(function(){	
	$('textarea').blur(function(){
		$(this).val($(this).val().trim());
	});
});
</script>
</body>
</html>
