<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_answer_comp">
	{{ include('./inc/header.html') }}
	<section class="sec sec_answer_comp">
		<h2 class="sec_ttl">回答完了</h2>
		<div class="sec_inner">
			<h3 class="content_ttl">投稿が完了しました</h3>
			<p class="t_left">回答した内容はマイページで履歴を確認することが可能です。</p>
			<ul class="btn_wrap">
				<li><a href="{{ base_url }}" class="btn_style btn_gray-o">トップページへ</a></li>
				<li><a href="{{ base_url }}cate{{ big_category_id }}/{{ category_id }}/{{ answer_id }}" class="btn_style btn_green">回答したページへ</a></li>
			</ul>
		</div>
	</section>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
</body>
</html>
