<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>{{ title }}</title>
<meta name="description" content="{{ meta_desc }}">
{{ include('./inc/link.html') }}
<link rel="stylesheet" href="/sp/css/consult.css?v=20160707">
</head>
<body>
<div class="page_wrap page_consult">
{{ include('./inc/header.html') }}
	<section class="sec sec_consult_question">
		<h2 class="sec_ttl icon {{ consultation_info.class }}"><strong>{{ consultation_info.big_category_name }}</strong></h2>
		<div class="sec_inner">
			<h3 class="content_ttl">{{ consultation_info.title }}</h3>
			<div class="sec_desc">
				<p class="user_name">{{ consultation_info.nick_name }}</p>
				<p class="post_date">{{ consultation_info.time_ago }}</p>
				<input type="hidden" id="comment_count" value="{{ consultation_info.comment_count }}">
			</div>
			<div class="consult_question_content">
				{% if consultation_info.up_image != null %}
				<p><img src="{{ consultation_info.up_image }}"></p>
				{% endif %}
				<p>{{ consultation_info.message|raw|nl2br }}</p>
			</div>
		</div>
		<ul class="btn_wrap">
			<form id="answer" name="answer" method="post" action="/bb/answer">
				<input type="hidden" name="answer_id" id="answer_id" value="{{ consultation_info.id }}"></input>
				<input type="hidden" name="bid" id="bid" value="{{ bid }}"></input>
				<input type="hidden" name="subid" id="subid" value="{{ subid }}"></input>
			</form>	
			{% if user_login_flag %}
			<li> 
					<!-- <button type="submit" class="btn_style btn_green" name="answer_id" value="{{ consultation_info.id }}">この相談に回答する</button> -->
					<a href="javascript:void(0);" onclick="document.answer.submit();return false;" class="btn_style btn_green">この相談に回答する</a>
			</li>
			{% endif %}
			{% if user_login_flag %}
			<li> 
				<a href="javascript:void(0);" class="btn_style {{ btn_bookmark_color }} ic ic_bookmark btn_bookmark" data-thread-id="{{consultation_info.id}}" data-user-id="{{is_own_replay}}" data-bookmark-mode="{{flag}}">ブックマーク</a>
			</li>
			{% endif %}
			<li> 
				<a href="javascript:void(0);" class="btn_style {{ btn_orange_color }} btn_update_eval" data-mess-id="{{consultation_info.id}}" data-user-id="{{consultation_info.user_id}}" data-thread-mode="0">私もそう思う<span class="ic ic_heart">{{ consultation_info.like_count }}</span></a> 
			</li>
		</ul>
	</section>
	<section class="sec sec_consult_answer">
		<div class="sp_consult_answer">
		{% for key, entry in response_ar %}
		<div class="consult_answer_list">
			<div class="sec_inner">
				<div class="consult_user_date">
					<p class="user_name">投稿者：{{ entry.nick_name }}さん</p>
					<p class="post_date">{{ entry.time_ago }}</p>
				</div>
				<div class="consult_answer_content">
					{% if entry.up_image != null %}
					<p><img src="{{ entry.up_image }}"></p>
					{% endif %}
					{% if colorSwitch == 1 %}
						{% if entry.rank > 80 %}
						<p class="onayami_tally_count_1">{{ entry.message|raw|nl2br }}</p>
						{% elseif entry.rank > 50 %}
						<p class="onayami_tally_count_2">{{ entry.message|raw|nl2br }}</p>
						{% elseif entry.rank > 5 %}
						<p class="onayami_tally_count_3">{{ entry.message|raw|nl2br }}</p>
						{% else %}
						<p class="onayami_tally_count_4">{{ entry.message|raw|nl2br }}</p>
						{% endif %}
					{% else %}
					<p>{{ entry.message|raw|nl2br }}</p>
					{% endif %}
				</div>
				<div class="consult_answer_evaluate">
					<ul class="posted_ability btn_wrap">
						<li><a href="javascript:void(0);" class="btn_style {{ entry.btn_orange_color }} btn_update_eval" data-mess-id="{{entry.id}}" data-user-id="{{entry.user_id}}">私もそう思う<span class="ic ic_heart">{{ entry.evaluate }}</span></a></li>
					</ul>
				</div>
				{% if entry.reply_ar[0].flag %}
					<div class="comment_reply">
						<div class="consult_user_date">
							<p class="user_name">投稿者：{{ entry.replay_nick_name }}さん</p>
							<p class="post_date">{{ entry.replay_cre_date }}</p>
						</div>
						<div class="sec_inner">
							<div class="comment">
								<p>{{ entry.reply_message|raw|nl2br }}</p>
							</div>
							<div class="content_bottom cf">
								<ul class="btn_wrap">
									<li><a href="javascript:void(0);" class="btn_style {{ entry.replay_orange_color }} btn_update_eval" data-mess-id="{{entry.reply_message_id}}" data-user-id="{{entry.replay_owner_id}}">私もそう思う<span class="ic ic_heart">{{ entry.replay_evaluate }}</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				{% else %}
					{% if is_own_replay != entry.response_id and consultation_info.user_id == is_own_replay %}
					<form method="post" action="" class="validate_reply{{ entry.id }} validate">
						<input type="hidden" name="message_id" value="{{ entry.id }}">
						<input type="hidden" name="thread_id" value="{{ entry.thread_id }}">
						<input type="hidden" name="replay_nick_name" value="{{ consultation_info.nick_name }}">
						<input type="hidden" name="nick_name" value="{{ entry.nick_name }}">
						<div class="comment_reply_input">
							<h3 class="content_ttl">返信コメント</h3>
							<p class="error" style="display: none;">・本文を入力してください。</p>
							<textarea class="consult_message" name="consult_message" placeholder="返信コメントを入力してください" maxlength="300"></textarea>
							<p class="input_desc" style="margin-bottom:2vw">※全角300文字以内</p>
							<ul class="btn_wrap">
								<li>
									<button type="submit" class="btn_style btn_blue">送信する</button>
								</li>
							</ul>
						</div>
					</form>
					<script>
					$(function(){
						$(".validate_reply{{ entry.id }}").validate({
												rules: {
													consult_message:{
														required: true
													}
												},
												messages: {
													consult_message:{
														required: "返信コメントを入力してください。"
													}
												},
												errorElement: "p",
												errorPlacement:function(error,element){
													error.insertBefore($(element));
												},
												submitHandler: function(form) {
													var $form = $('.validate_reply{{ entry.id }}');
													$.ajax({
													    url:"{{ base_url }}bb/reply_answer",
												        type:"POST",
												        data:$form.serialize(),
													}).done(function(data){
														$('.validate_reply{{ entry.id }}').replaceWith(data.html);
													}).fail(function(data){
													    alert('error!!!');
													});
												}
											});
					});
					</script>
					{% endif %}
				{% endif %}	
			</div>
		</div>
		{% endfor %}
		</div>
		{% if response_ar|length == 10 and consultation_info.comment_count > 10 %}
		<div class="more_comment" data-consult-id="{{consultation_info.id}}">
			<ul class="btn_wrap_more">
				<li><a id="show_more_data" href="javascript:void(0)" class="btn_other">もっと見る</a></li>
			</ul>
		</div>
		{% endif %}
	</section>
{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script>
var base_url = '{{ base_url }}';
$(function(){
	$('textarea').blur(function(){
		$(this).val($(this).val().trim());
	});
});
</script>
</body>
</html>