<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_question">
	{{ include('./inc/header.html') }}
	<section class="sec sec_question">
		<form action="{{ base_url }}bb/confirm" method="post" class="question_form validate">
			<input type="hidden" name="nickname" value="{{ nickname }}">
			<h2 class="sec_ttl">相談をする</h2>
			<div class="sec_inner">
				<dl class="list_nickname">
					<dt>ニックネーム</dt>
					<dd>
						<p>{{ nickname }}さん</p>
						<p class="notice">※ニックネームは公開されるので、個人が特定されるようなお名前はお控えください。</p>
						<p class="t_right"><a href="{{main_url}}user/settings" class="t_link">ニックネームの変更</a></p>
					</dd>
				</dl>
				<dl class="input_category_list">
					<dt class="ic_required">相談するカテゴリを選択</dt>
					<dd>
						<select name="question_category_list" required="" aria-required="true" id="changeselect" >
							<option value="">選択してください</option>
							{% for key, bcat in form_cate_opt %}
								{% if select_big == bcat.id %}
									<option value="{{ bcat.id }}" selected="selected">{{ bcat.name }}</option>
								{% else %}
								<option value="{{ bcat.id }}" {% if bcat.id == values.big_cate_id %} selected="selected" {% endif %} >{{ bcat.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</dd>
				</dl>
				<dl class="input_category">
					<dt class="ic_required">カテゴリー詳細を選択</dt>
					<dd>
						<select name="question_category" id="sub_question_cat" required="" aria-required="true">
							<option value="">選択してください。</option>
							{% for key, scat in get_sub_cat %}
								{% if sm_id == scat.id %}
									<option value="{{ scat.id }}" selected="selected">{{ scat.name }}</option>
								{% else %}
									<option value="{{ scat.id }}">{{ scat.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</dd>
				</dl>
				<dl class="list_ttl">
					<dt class="ic_required">タイトル</dt>
					{#<dd><input type="text" name="question_subject" maxlength="50" value="{{ set_value('question_subject') }}"></dd>#}
					{{form_input('question_subject',set_value('question_subject','',false),{placeholder:"タイトルを入力してください",class:"ui-count_input",maxlength:50})|raw}}
				</dl>
				<dl class="list_content">
					<dt class="ic_required">内容</dt>
					{#<dd><textarea name="question_message" maxlength="1000" id="" value="">{{ set_value('question_message') }}</textarea></dd>#}
					{{form_textarea('question_message',set_value('question_message','',false),{placeholder:"相談内容を入力してください",class:"ui-count_input",maxlength:1000})|raw}}
				</dl>
				<dl class="input_image">
					<dt class="">画像</dt>
					<dd class="cf ui-count_form">
						<input id="upload_img" type="file" value="" name="userfile">
						<input id="image_file_name" type="hidden" value="" name="image_file_name">
						<p class="input_desc">※3Mbyte以内</p>
					</dd>
				</dl>
				<ul class="btn_wrap">
					<li><button type="submit" class="btn_style btn_green">相談内容の確認</button></li>
				</ul>
			</div>
		</form>
	</section>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script>
$(function(){
	var sm_id = '{{ sm_id }}';
	if (!sm_id){
		if ($('#changeselect').val()) {
			ajaxCat($('#changeselect').val());
		}
	}
	$('#changeselect').change(function(){
		ajaxCat($(this).val());
	});                                       
	$('#sub_question_cat').change(function(){
		$.cookie("sub_cat", $(this).val());
	});
	$('input[type=text], textarea').blur(function(){
		$(this).val($(this).val().trim());
	});
});
function ajaxCat(id) {
	$.ajax({
		type: "POST",
		url: '/bb/sub_category_ajax',
		data: {bid:id},
		dataType: 'JSON',
		cache: false,
		success:
			function(data){
					var opt = '<option value>選択してください。</option>';
					$.each(data, function(i, category){
							selctd = (typeof $.cookie("sub_cat") !== "undefined" && $.cookie("sub_cat") == category['id'])? 'selected=selected':'';
							opt += '<option value="'+category['id']+'"'+selctd+'>'+category['name']+'</option>';
					});
					$("#sub_question_cat").html(opt);
				}
	});
}
</script>
</body>
</html>
