<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_question_comp">
	{{ include('./inc/header.html') }}
	<section class="sec sec_question_comp">
		<h2 class="sec_ttl">相談内容の投稿完了</h2>
		<div class="sec_inner">
			<div class="caution">
				<h3 class="content_ttl">投稿が完了しました</h3>
				<p class="t_left">全ての回答に返信がつくとは限りませんので</p>
				<p class="t_left">ご理解いただきますようお願い申し上げます。</p>
			</div>
			<ul class="btn_wrap">
				<li><a href="{{ base_url }}user/my_page" class="btn_style btn_gray-o">マイページへ</a></li>
				<li><a href="{{ base_url }}cate{{ big_category_id }}/{{ category_id }}/{{ question_id }}" class="btn_style btn_green">相談したページへ</a></li>
			</ul>
		</div>
	</section>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
</body>
</html>
