<footer>
	<div class="footer_inner cf">
		<div class="left_box">
			<figure><a href="{{ base_url }}"><img src="{{ base_url }}pc/image/common/footer_logo.png" alt="風俗求人・高収入アルバイト情報ジョイスペ"></a></figure>
			<ul class="btn_wrap">
				{% if user_login_flag %}
				<li><a class="logout" href="{{ base_url }}user/logout">ログアウト</a></li>
				{% else %}
				<li><a href="javascript:void(0);" class="onayami_login btn_style btn_green">ログイン</a></li>
				<li><a href="javascript:void(0);" class="onayami_signup btn_style btn_orange">新規会員登録</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="right_box">
			<dl class="nav_onayami">
				<dt><a href="{{ base_url }}">女性のお悩み相談室</a></dt>
				<dd>
					<ul>
						<li><a href="{{ base_url }}">サイトトップ</a></li>
						{% if user_login_flag %}
						<li><a href="{{ base_url }}user/my_page">マイページ</a></li>
						<li><a href="{{ base_url }}bb/posting/">無料で相談</a></li>
						{% endif %}
					</ul>
				</dd>

				<dt><a href="./">カテゴリー一覧</a></dt>
				<dd>
					<ul>
						<li><a href="{{ base_url }}cate1">性（セックス）</a></li>
						<li><a href="{{ base_url }}cate2">恋愛と結婚</a></li>
						<li><a href="{{ base_url }}cate3">カラダ</a></li>
						<li><a href="{{ base_url }}cate4">生理</a></li>
						<li><a href="{{ base_url }}cate5">バスト（おっぱい）</a></li>
						<li><a href="{{ base_url }}cate6">性交痛</a></li>
						<li><a href="{{ base_url }}cate7">妊娠・出産・産後</a></li>
						<li><a href="{{ base_url }}cate8">オナニー</a></li>
						<li><a href="{{ base_url }}cate9">コンドーム</a></li>
						<li><a href="{{ base_url }}cate10">男性の性</a></li>
						<li><a href="{{ base_url }}cate11">シングルマザー</a></li>
						<li><a href="{{ base_url }}cate12">男性に答えて欲しい</a></li>
						<li><a href="{{ base_url }}cate13">風俗のお仕事</a></li>
						<li><a href="{{ base_url }}cate14">チャットレディ</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="nav_joyspe">
				<dt><a href="./">全国の風俗求人情報</a></dt>
				<dd>
					<ul>
						<li><a href="{{ main_url }}/user/jobs/hokkaido/">北海道・東北</a></li>
						<li><a href="{{ main_url }}/user/jobs/kanto/">関東</a></li>
						<li><a href="{{ main_url }}/user/jobs/kitakanto/">北関東</a></li>
						<li><a href="{{ main_url }}/user/jobs/hokuriku/">北陸・甲信越</a></li>
						<li><a href="{{ main_url }}/user/jobs/tokai/">東海</a></li>
						<li><a href="{{ main_url }}/user/jobs/kansai/">関西</a></li>
						<li><a href="{{ main_url }}/user/jobs/shikoku/">中国・四国</a></li>
						<li><a href="{{ main_url }}/user/jobs/kyushu/">九州・沖縄</a></li>
					</ul>
				</dd>
			</dl>
			<ul class="footer_sitemap">
				<li><a href="{{ base_url }}tos">利用規約</a></li>
				<li><a href="{{ base_url }}company">会社概要</a></li>
				<li><a href="{{ base_url }}privacy">個人情報の取扱い</a></li>
				<li><a href="{{ base_url }}guideline">禁止事項</a></li>
				<li><a href="{{ base_url }}faq"> よくある質問</a></li>
				<li><a href="{{ base_url }}contact">お問い合わせ</a></li>
			</ul>
		</div>
	</div>
	<small>Copyright © onayami All Rights Reserved.</small> </footer>
	<a href="#" class="top_link" id="top_link" data-scroll="pageTop" style="display: block;"><i class="fa fa-arrow-up"></i></a>
