<header class="header_wrap">
	<div class="header">
		<div class="header_inner cf">
			<div class="left_box">
				<h1 class="site_logo"><a href="{{ base_url }}"><img src="{{ base_url }}pc/image/common/logo.png" alt="ロゴ"></a></h1>
			</div>
			<div class="right_box">
				<div class="header_block m_b_10">
					<ul class="header_banner_area">
						<li><a href="{{main_url}}" alt="風俗求人高収入アルバイト"><img src="{{ base_url }}pc/image/banner/sample_2.gif" alt="バナー"></a></li>
					</ul>
					<ul class="header_site_ability">
						<li>会員数：<span>{{ total_users }}</span>人</li>
					</ul>
				</div>
				<div class="header_block">
					<ul class="header_user_menu">
						<li><a href="{{ main_url }}user/settings/" class="ic ic_cog">登録情報確認・変更</a></li>
						<li><a href="{{ base_url }}faq">FAQ</a></li>
					</ul>
					<ul class="header_account_menu btn_wrap">
						<form id="form_signup" method="post" action="{{ main_url }}user/signup" name="form_signup">
						<input type="hidden" name="onayamisignup" value="onayami">
						</form>
						<form id="form_login" method="post" action="{{ main_url }}user/login" name="form_login">
						<input type="hidden" name="onayamilogin" value="onayami">
						</form>
						{% if user_login_flag %}
						<li><a href="{{ base_url }}user/logout" class="logout btn_style btn_gray">ログアウト</a></li>
						{% else %}
						<li><a href="javascript:void(0);" class="onayami_login btn_style btn_green">ログイン</a></li>
						<li><a href="javascript:void(0);" class="onayami_signup btn_style btn_magenta">新規会員登録</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<nav class="header_nav">
		<div class="header_inner">
			<ul>
				<li><a href="{{ base_url }}" class="ic ic_home">ホーム</a></li>
				{% if user_login_flag %}
				<li><a href="{{ base_url }}user/my_page" class="ic ic_female">マイページ</a></li>
				<li><a href="{{ base_url }}bb/posting/" class="ic ic_comments">無料で相談</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<nav class="breadcrumb">
		<div class="header_inner">
			<ul>
			{% for entry in breadcrumb_list %}
				{% if entry.url == '' %}
				<li><a href="">{{ entry.text }}</a></li>
				{% else %}
				<li><a href="{{ entry.url }}">{{ entry.text }}</a></li>
				{% endif %}
<!--				<li><a href="{{ base_url }}">トップページ</a></li> -->
<!--				<li><a href="{{ base_url }}">次のぱんくず</a></li> -->
			{% endfor %}
			</ul>
		</div>
	</nav>
</header>
<script type="text/javascript">
$(function() {
	$('.onayami_signup').on('click', function(){
		$('#form_signup').submit();
	});
	$('.onayami_login').on('click', function(){
		$('#form_login').submit();
	});
});
</script> 

