<script src="{{base_url}}pc/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="{{base_url}}pc/js/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="{{base_url}}pc/js/common.js" type="text/javascript"></script>
<script src="{{base_url}}pc/js/pagination.js" type="text/javascript"></script>

