<div id="sidr" class="sidr">
	<header>
		<h1>めにゅ～</h1>
	</header>
	<div class="menu_inner">
		<div class="content_box">
            {% if user_login_flag %}
            <br>
			<ul class="btn_wrapm_t_20">
				<li><a href="{{base_url}}user/logout" class="ui_btn ui_btn--bg_green">ログアウト</a></li>
			</ul>
            {% else %}
			<h2 class="t_center">新規会員登録</h2>
			<ul class="">
				<li><a href="{{base_url}}user/signup" class="ui_btn ui_btn--bg_green">今すぐ無料で利用する</a></li>
			</ul>
			<p class="m_t_10">※広告メールを受け取る必要があります。</p>
			<ul class="m_t_20">
				<li><a href="#" class="ui_btn ui_btn--bg_green">月額324円で利用する</a></li>
			</ul>
			<h2 class="t_center">既に登録済みの方はこちら</h2>
			<ul class="btn_wrapm_t_20">
				<li><a href="{{base_url}}user/login" class="ui_btn ui_btn--bg_green">ログイン</a></li>
			</ul>
            {% endif %}

		</div>
	</div>

		<div class="content_box menu_list m_t_20">
			<ul>
				<li>サービスの利用方法</li>
				<li>利用規約</li>
				<li>お問い合わせ</li>
			</ul>
		</div>
	<footer>
		<small>&copy;{{ site_name }}</small>
	</footer>
</div>
