.onayami_tally_count_4 {
	font-size: 16px;
	color: #2a2c37;
}
.onayami_tally_count_3 {
	font-size: 24px;
	font-weight: bold;
	color: #2a2c37;
}
.onayami_tally_count_2 {
	font-size: 18px;
	font-weight: bold;
	color: #F8384A;
}
.onayami_tally_count_1 {
	font-size: 24px;
	font-weight: bold;
	color: #F8384A;
}