@charset "utf-8";
/* CSS Document */

p.sec_box_content {
    word-wrap: break-word;
}

/* search keyword consultation */
.page_wrap.page_index .sec_search .search_tag {
	padding-top: 15px;
    line-height: 2;
    font-size: 4vw;
}
.page_wrap.page_index .sec_search .search_tag li {
    display: inline-block;
    margin: 0 10px;
}
.page_wrap.page_index .sec_search .search_tag li a {
    color: #fbac38;
    text-decoration: none;
}

.consultation_list_wrap .consultation_list .btn_wrap .btn_style.btn_green {
	font-size: 4vw;
	width: 40vw;
	margin-top: 3vw;
	margin-bottom: 2vw;
	padding: 1.3vw 0;
}
#consultation_list {
	height: auto;
}
