<link rel="stylesheet" href="{{ base_url }}sp/css/reset.css">
<link rel="stylesheet" href="{{ base_url }}sp/css/html5reset.css">
<link rel="stylesheet" href="{{ base_url }}sp/css/common.css">
<link rel="stylesheet" href="{{ base_url }}sp/css/style.css">
<link rel="stylesheet" href="{{ base_url }}sp/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ base_url }}sp/css/category_icons.css">
<script src="{{ base_url }}sp/js/jquery-1.11.0.js"></script>
<script src="{{ base_url }}pc/js/jquery.cookie.js"></script>