<aside class="sidebar">



	<section class="sec sec_new_consultation_list m_b_30">
		<h3 class="sec_ttl">新着相談一覧</h3>
		<ul>
			<li>
				<a href="" class="ic ic_angle-right">
					<span class="sec_list_inner">
						<p class="posted_data"><span>2016/03/04 24:24</span></p>
						<p class="posted_ttl">テキストが入ります。テキストが入ります。</p>
					</span>
				</a>
			</li>
			<li>
				<a href="" class="ic ic_angle-right">
					<span class="sec_list_inner">
						<p class="posted_data"><span>2016/03/04 24:24</span></p>
						<p class="posted_ttl">文字の最後は省略されます。</p>
					</span>
				</a>
			</li>
			<li>
				<a href="" class="ic ic_angle-right">
					<span class="sec_list_inner">
						<p class="posted_data"><span>2016/03/04 24:24</span></p>
						<p class="posted_ttl">14文字までなら省略されません</p>
					</span>
				</a>
			</li>
			<li>
				<a href="" class="ic ic_angle-right">
					<span class="sec_list_inner">
						<p class="posted_data"><span>2016/03/04 24:24</span></p>
						<p class="posted_ttl">テキストが入ります。テキストが入ります。</p>
					</span>
				</a>
			</li>
			<li>
				<a href="" class="ic ic_angle-right">
					<span class="sec_list_inner">
						<p class="posted_data"><span>2016/03/04 24:24</span></p>
						<p class="posted_ttl">文字の最後は省略されます。</p>
					</span>
				</a>
			</li>
			<li>
				<a href="" class="ic ic_angle-right">
					<span class="sec_list_inner">
						<p class="posted_data"><span>2016/03/04 24:24</span></p>
						<p class="posted_ttl">14文字までなら省略されません</p>
					</span>
				</a>
			</li>
			<li>
				<a href="" class="ic ic_angle-right">
					<span class="sec_list_inner">
						<p class="posted_data"><span>2016/03/04 24:24</span></p>
						<p class="posted_ttl">テキストが入ります。テキストが入ります。</p>
					</span>
				</a>
			</li>
			<li>
				<a href="" class="ic ic_angle-right">
					<span class="sec_list_inner">
						<p class="posted_data"><span>2016/03/04 24:24</span></p>
						<p class="posted_ttl">文字の最後は省略されます。</p>
					</span>
				</a>
			</li>
			<li>
				<a href="" class="ic ic_angle-right">
					<span class="sec_list_inner">
						<p class="posted_data"><span>2016/03/04 24:24</span></p>
						<p class="posted_ttl">14文字までなら省略されません</p>
					</span>
				</a>
			</li>
		</ul>
	</section>

	<section class="sec sec_side_banner">
		<ul>
			<li><img src="./image/banner/sample_3.png" alt=""></li>
			<li><img src="./image/banner/sample_2.gif" alt=""></li>
		</ul>
	</section>

</aside>
