<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_category">
	{{ include('./inc/header.html') }}
	<div class="content_wrap cf">
		<div class="content">
			<div class="content_inner m_b_30">
				<section class="sec sec_category">
					<h2 class="sec_ttl icon {{ big_category_info.class }}">{{ big_category_info.name }}</h2>
					<p class="sec_desc">{{ big_category_info.contents }}</p>
					<ul class="btn_wrap">
						<form id="form_posting" method="post" action="{{ base_url }}bb/posting" name="form_posting">
						<input type="hidden" name="question_category_list" value="{{ big_category_info.id }}">
						</form>
						<li>
							<a id="new_question" class="btn_style btn_green" href="#">新しく相談する</a>
						</li>
					</ul>
				</section>
			</div>
			<section class="sec sec_category_list">
				<h2 class="sec_ttl" id="consultation_list"><span>{{ big_category_info.name }}全ての相談一覧</span></h2>
				<form id="answer" name="answer" method="post" action="{{ base_url }}bb/answer">
					<input type="hidden" name="answer_id" id="answer_id" ></input>
					<input type="hidden" name="bid" id="bid" ></input>
					<input type="hidden" name="subid" id="subid" ></input>
				</form>	
				<ul class="consult_category_list">
		            {% for key, entry in consultation_list_ar %}
					<li class="consultation_list"> <a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}">
						<div class="sec_box_top">
							<p class="sec_box_category icon16 {{entry.class}}">{{ entry.big_category_name }}</p>
							<p class="sec_box_category_detail"><span>{{ entry.category_name }}</span></p>
						</div>
						<h3 class="sec_box_ttl">{{ entry.title }}</h3>
						{% if entry.message|striptags|trim|length > 41 %}
							<p class="sec_box_content m_b_10">{{ entry.message|striptags|trim|slice(0, 41) }}...</p>
						{% else %}
							<p class="sec_box_content m_b_10">{{ entry.message|striptags|trim }}</p>
						{% endif %}
						<ul class="btn_wrap t_center m_b_20">
							<li><p class="btn_style btn_blue">続きを読む</p></li>
							<li><a onclick="set_answer({{entry.big_cate_id}}, {{entry.cate_id}}, {{entry.id}});" class="btn_style btn_green">回答する</a></li>
						</ul>
						<div class="sec_box_bottom">
							<p class="posted_data">{{ entry.create_date|date("Y.m.d") }}</p>
							<ul class="posted_ability">
								{% if entry.like_count > 0 %}
								<li><p class="ic ic_heart">{{ entry.like_count }}</p></li>
								{% else %}
								<li><p class="ic ic_heart-o">{{ entry.like_count }}</p></li>
								{% endif %}
								{% if entry.comment_count > 0 %}
								<li><p class="ic ic_comment">{{ entry.comment_count }}</p></li>
								{% else %}
								<li><p class="ic ic_comment-o">{{ entry.comment_count }}</p></li>
								{% endif %}
							</ul>
						</div>
						</a>
					</li>
		            {% endfor %}
				</ul>
				<ul class="pager_wrap">
				{{ pagination|raw }}
				</ul>
			</section>
		</div>
	{{ include('./inc/sidebar.html') }}
	</div>
	<div class="content_wrap p_t_0">
		<section class="sec sec_site_notice">
			<p>xxxx掲示板では女性の性に関する悩みを自由に相談できる掲示板です。匿名で相談または回答することができるので恥ずかしいあの話も気軽に話すことができます。一人で悩まずみんなで女性の性を語り合って解決しましょう！</p>
		</section>
	</div>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script type="text/javascript">
$(function() {
	$('#new_question').on('click', function(){
		$('#form_posting').submit();
	});
});

function set_answer(big_cate_id, cate_id, thread_id){
	document.answer.bid.value = big_cate_id;
	document.answer.subid.value = cate_id;
	document.answer.answer_id.value = thread_id;
	document.answer.submit();
	return false;
}
</script> 
</body>
</html>
