<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>お悩み相談</title>
{{ include('./inc/link.html') }}
<meta name="description" content="検索結果：{{keyword}}の全ての相談一覧">
</head>
<body>
<div class="page_wrap page_search_results">
	{{ include('./inc/header.html') }}
	<div class="content_wrap cf">
		<div class="content">
			<section class="sec sec_category_list">
				<h2 class="sec_ttl" id="consultation_list"><span>検索結果：{{keyword}}の全ての相談一覧</span></h2>
				<form id="answer" name="answer" method="post" action="{{ base_url }}bb/answer">
					<input type="hidden" name="answer_id" id="answer_id" ></input>
					<input type="hidden" name="bid" id="bid" ></input>
					<input type="hidden" name="subid" id="subid" ></input>
				</form>	
				<input type="hidden" id="input_keyword" value="{{keyword}}">
				<ul class="consult_category_list">
					{% for key, entry in consultation_list_ar %}
					<li class="consultation_list"> 
						<a href="{{base_url}}cate{{entry.big_cate_id}}/{{entry.cate_id}}/{{entry.id}}">
							<div class="sec_box_top">
								<p class="sec_box_category icon16 {{entry.class}}">{{ entry.big_category_name }}</p>
								<p class="sec_box_category_detail"><span>{{ entry.category_name }}</span></p>
							</div>
							<h3 class="sec_box_ttl">{{ entry.title }}</h3>
							{% if entry.message|striptags|trim|length > 41 %}
								<p class="sec_box_content m_b_10">{{ entry.message|striptags|trim|slice(0, 41) }}...</p>
							{% else %}
								<p class="sec_box_content m_b_10">{{ entry.message|striptags|trim }}</p>
							{% endif %}
							<ul class="btn_wrap t_center m_b_20">
								<li><p class="btn_style btn_blue">続きを読む</p></li>
								<li><a onclick="set_answer({{entry.big_cate_id}}, {{entry.cate_id}}, {{entry.id}});" class="btn_style btn_green">回答する</a></li>
							</ul>
							<div class="sec_box_bottom">
								<p class="posted_data">{{ entry.create_date|date("Y.m.d") }}</p>
								<ul class="posted_ability">
									{% if entry.like_count > 0 %}
									<li><p class="ic ic_heart">{{ entry.like_count }}</p></li>
									{% else %}
									<li><p class="ic ic_heart-o">{{ entry.like_count }}</p></li>
									{% endif %}
									{% if entry.comment_count > 0 %}
									<li><p class="ic ic_comment">{{ entry.comment_count }}</p></li>
									{% else %}
									<li><p class="ic ic_comment-o">{{ entry.comment_count }}</p></li>
									{% endif %}
								</ul>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
				<ul class="pager_wrap">
					{{ pagination|raw }}
				</ul>
			</section>
		</div>
		{{ include('./inc/sidebar.html') }}
	</div>
	<div class="content_wrap p_t_0">
		<section class="sec sec_site_notice">
			<p>お悩み相談室では女性の性に関する悩みを自由に相談できる掲示板です。匿名で相談または回答することができるので恥ずかしいあの話も気軽に話すことができます。一人で悩まずみんなで女性の性を語り合って解決しましょう！</p>
		</section>
	</div>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script>
	$('.pager_wrap a').on('click',function(){
		var page = $(this).attr('data-ci-pagination-page');
		var href = $(this).attr('href');
		var keyword = $('#input_keyword').val();
		$(this).attr('data-ci-pagination-page', '');
		if(page == 1) {
			$(this).attr('href', href+'?page='+page+'&input_keyword='+keyword+'#consultation_list');
		} else {
			$(this).attr('href', href+'&input_keyword='+keyword+'#consultation_list');
		}
	});

	function set_answer(big_cate_id, cate_id, thread_id){
		document.answer.bid.value = big_cate_id;
		document.answer.subid.value = cate_id;
		document.answer.answer_id.value = thread_id;
		document.answer.submit();
		return false;
	}
</script>
</body>
</html>
