<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>{{ titles['contact_completion']['text'] }}</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_contact_comp">
	{{ include('./inc/header.html') }}
	<section class="sec sec_contact_comp">
		<h2 class="sec_ttl">{{ titles['contact_completion']['text'] }}</h2>
		<div class="sec_inner">
			<p class="t_center"><strong>お問い合わせありがとうございました。</strong></p>
			<p>営業時間に頂きましたお問合せは営業時間内にご回答させていただいております。<br>
			ご返答まで今しばらくお待ち下さいませ。</p>
			<p>平日12時～16時及び平日以外のお問い合わせに関しまして、平日翌営業日に返答をさせていただきます。</p>
			<ul class="btn_wrap">
				<li><a href="{{ base_url }}" class="btn_style btn_gray">トップへ戻る</a></li>
			</ul>
		</div>
	</section>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
</body>
</html>
