<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>{{ titles['contact']['text'] }}</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_contact">
	{{ include('./inc/header.html') }}
	<section class="sec sec_contact">
		<h2 class="sec_ttl">{{ titles['contact']['text'] }}</h2>
		<div class="sec_inner">
			<form action="{{ base_url }}send_email" class="contact_form validate" method="post">
				<dl>
					<dt>メールアドレス</dt>
					<dd><input type="mail" name="contact_email"></dd>
				</dl>
				<dl>
					<dt>件名</dt>
					<dd><input type="text" name="contact_subject"></dd>
				</dl>
				<dl>
					<dt>本文</dt>
					<dd><textarea name="contact_message" ></textarea></dd>
				</dl>
				<ul class="btn_wrap">
					<li><button class="btn_style btn_green">送信する</button></li>
				</ul>
			</form>
		</div>
	</section>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
</body>
</html>
