<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_faq">
	{{ include('./inc/header.html') }}
	<section class="sec sec_faq">
		<h2 class="sec_ttl">FAQ</h2>
		<div class="sec_inner">
			<dl>
				<dt>相談内容を通報したいです。</dt>
				<dd>相談タイトルと通報内容を記載し運営までご連絡ください。</dd>
			</dl>
			<dl>
				<dt>間違って投稿してしまいました。</dt>
				<dd>間違ってしまった相談タイトルを運営までご連絡ください。<br>
					※相談投稿者と報告者のアドレスが一致している必要がございます。</dd>
			</dl>
			<dl>
				<dt>投稿した内容を削除したいです。</dt>
				<dd>基本的には投稿された後の内容を削除することはできません。<br>
					削除したい理由を明記の上運営までお問い合わせください。<br>
					スタッフが確認後に削除の有無を判断いたします。<br>
					また、投稿されても削除をお約束することはできません。</dd>
			</dl>
			<dl>
				<dt>投稿したカテゴリを間違えてしまいました。</dt>
				<dd>間違ってしまった相談タイトルを運営までご連絡ください。<br>
					※相談投稿者と報告者のアドレスが一致している必要がございます。</dd>
			</dl>
		</div>
	</section>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
</body>
</html>
