<ul class="category_list">
	<li><a href="{{base_url}}cate1">
		<figure><div class="icon150 ic_sex" ></div></figure>
		<p>性（セックス）</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate2">
		<figure><div class="icon150 ic_hands" ></div></figure>
		<p>恋愛と結婚</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate3">
		<figure><div class="icon150 ic_body" ></div></figure>
		<p>カラダ</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate4">
		<figure><div class="icon150 ic_calendar" ></div></figure>
		<p>生理</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate5">
		<figure><div class="icon150 ic_bust-up" ></div></figure>
		<p>バスト（おっぱい）</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate6">
		<figure><div class="icon150 ic_woman" ></div></figure>
		<p>性交痛</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate7">
		<figure><div class="icon150 ic_baby" ></div></figure>
		<p>妊娠・出産・産後</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate8">
		<figure><div class="icon150 ic_goods" ></div></figure>
		<p>オナニー</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate9">
		<figure><div class="icon150 ic_condom" ></div></figure>
		<p>コンドーム</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate10">
		<figure><div class="icon150 ic_man" ></div></figure>
		<p>男性の性</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate11">
		<figure><div class="icon150 ic_singlemother" ></div></figure>
		<p>シングルマザー</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate12">
		<figure><div class="icon150 ic_question" ></div></figure>
		<p>男性に答えて欲しい</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate13">
		<figure><div class="icon150 ic_bondage" ></div></figure>
		<p>風俗のお仕事</p>
		</a>
	</li>
	<li><a href="{{base_url}}cate14">
		<figure><div class="icon150 ic_chat-lady" ></div></figure>
		<p>チャットレディ</p>
		</a>
	</li>
</ul>