<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_mypage">
	{{ include('./inc/header.html') }}
	<section class="sec sec_mypage">
		<h2 class="sec_ttl">マイページ</h2>
		<ul class="tab_menu" id="tab_menu">
			<li class="tab_unresolved current" id="tab_unresolved">未回答の相談</li>
			<li class="tab_history" id="tab_history">相談履歴</li>
			<li class="tab_bookmark" id="tab_bookmark">ブックマーク</li>
		</ul>
		<div class="sec_inner">
			<div class="tab_content content_unresolved">
				<div class="search_found not_found cf">
					<p>未回答の相談はありません。<br>気軽にお悩みを相談してみましょう。</p>
					<ul class="btn_wrap">
						<li><a href="./question.html" class="btn_style btn_green">相談する</a></li>
					</ul>
				</div>
				<ul class="content_list">
					<?php for($i=0; $i<5; $i++): ?>
						<li>
							<div class="box_wrap">
								<div class="left_box"><input type="checkbox"></div>
								<div class="right_box">
									<a href="./consult.html" class="ic ic_angle-right">
										<p class="content_category ic ic_sex"><strong>性（セックス）</strong>膣ならについて</p>
										<h3 class="content_ttl">AIHでの転院について</h3>
										<p>みなさま初めましてm(_ _)mいつも参考にさせていただいております。初めて質問させていただきます。</p>
									</a>
								</div>
							</div>
				
							<div class="content_date cf">
								<p class="post_date">2016.01.28 15:10</p>
								<ul class="posted_ability">
									<li>
										<p class="ic ic_heart-o">0</p>
									</li>
									<li>
										<p class="ic ic_comment">1</p>
									</li>
								</ul>
							</div>
						</li>
					<?php endfor; ?>
				</ul>
				<div class="content_bottom cf">
					
					<ul class="pager_wrap">
						<li><a href="#" class="pager_style current">1</a></li>
						<li><a href="#" class="pager_style">2</a></li>
						<li><a href="#" class="pager_style">3</a></li>
						<li><a href="#" class="pager_style">4</a></li>
						<li><a href="#" class="pager_style">...</a></li>
						<li><a href="#" class="pager_style">次へ</a></li>
					</ul>
	
					<ul class="btn_wrap">
						<li><a href="#" class="btn_style btn_gray-o">チェックした項目を削除</a></li>
					</ul>
	
				</div>
			</div>

			<div class="tab_content content_history">
				<div class="search_found not_found cf">
					<p>過去に相談した履歴はありません。<br>気軽にお悩みを相談してみましょう。</p>
					<ul class="btn_wrap">
						<li><a href="./question.html" class="btn_style btn_green">相談する</a></li>
					</ul>
				</div>
				<ul class="content_list">
				<?php for($i=0; $i<5; $i++): ?>
						<li>
							<div class="box_wrap">
								<div class="left_box"><input type="checkbox"></div>
								<div class="right_box">
									<a href="./consult.html" class="ic ic_angle-right">
										<p class="content_category ic ic_sex"><strong>性（セックス）</strong>膣ならについて</p>
										<h3 class="content_ttl">AIHでの転院について</h3>
										<p>みなさま初めましてm(_ _)mいつも参考にさせていただいております。初めて質問させていただきます。</p>
									</a>
								</div>
							</div>
				
							<div class="content_date cf">
								<p class="post_date">2016.01.28 15:10</p>
								<ul class="posted_ability">
									<li>
										<p class="ic ic_heart-o">0</p>
									</li>
									<li>
										<p class="ic ic_comment">1</p>
									</li>
								</ul>
							</div>
						</li>
					<?php endfor; ?>
				</ul>
				<div class="content_bottom cf">
					
					<ul class="pager_wrap">
						<li><a href="#" class="pager_style current">1</a></li>
						<li><a href="#" class="pager_style">2</a></li>
						<li><a href="#" class="pager_style">3</a></li>
						<li><a href="#" class="pager_style">4</a></li>
						<li><a href="#" class="pager_style">...</a></li>
						<li><a href="#" class="pager_style">次へ</a></li>
					</ul>
	
					<ul class="btn_wrap">
						<li><a href="#" class="btn_style btn_gray-o">チェックした項目を削除</a></li>
					</ul>
	
				</div>
			</div>

			<div class="tab_content content_bookmark">
				<div class="search_found keyword_search cf">
					<p>ブックマークした相談はありません。<br>キーワード入力で相談を検索することもできます。</p>
					<form action="">
						<table class="sec_search_table">
							<tbody>
								<tr>
									<td><label for=""><input type="text" placeholder="生理中のオナニー 潮ふき方法"></label></td>
									<td class="search_btn">
										<ul class="btn_wrap">
											<li><button type="submit" class="btn_style btn_blue">探す</button></li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<ul class="content_list">
					<?php for($i=0; $i<5; $i++): ?>
						<li>
							<div class="box_wrap">
								<div class="left_box"><input type="checkbox"></div>
								<div class="right_box">
									<a href="./consult.html" class="ic ic_angle-right">
										<p class="content_category ic ic_sex"><strong>性（セックス）</strong>膣ならについて</p>
										<h3 class="content_ttl">AIHでの転院について</h3>
										<p>みなさま初めましてm(_ _)mいつも参考にさせていただいております。初めて質問させていただきます。</p>
									</a>
								</div>
							</div>
				
							<div class="content_date cf">
								<p class="post_date">2016.01.28 15:10</p>
								<ul class="posted_ability">
									<li>
										<p class="ic ic_heart-o">0</p>
									</li>
									<li>
										<p class="ic ic_comment">1</p>
									</li>
								</ul>
							</div>
						</li>
					<?php endfor; ?>
				</ul>
				<div class="content_bottom cf">
					
					<ul class="pager_wrap">
						<li><a href="#" class="pager_style current">1</a></li>
						<li><a href="#" class="pager_style">2</a></li>
						<li><a href="#" class="pager_style">3</a></li>
						<li><a href="#" class="pager_style">4</a></li>
						<li><a href="#" class="pager_style">...</a></li>
						<li><a href="#" class="pager_style">次へ</a></li>
					</ul>
	
					<ul class="btn_wrap">
						<li><a href="#" class="btn_style btn_gray-o">チェックした項目を削除</a></li>
					</ul>
	
				</div>
			</div>
		</div>
	</section>

	<section class="sec sec_pt_rate">
		<h2 class="sec_ttl">ポイントレート</h2>
		<div class="sec_inner">
			<table>
				<tr>
					<th>投稿ボーナス</th>
					<td>0pt</td>
				</tr>
				<tr>
					<th>回答ボーナス</th>
					<td>0pt</td>
				</tr>
				<tr>
					<th>私もそう思う（回答者）</th>
					<td>0pt</td>
				</tr>
				<tr>
					<th>私もそう思う（質問者）</th>
					<td>0pt</td>
				</tr>
			</table>
		</div>
	</section>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
</body>
</html>
