<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
{{ include('./inc/link.html') }}
<link rel="stylesheet" href="{{ base_url }}sp/css/my_page.css">
</head>
<body>
<div class="page_wrap page_mypage">
	{{ include('./inc/header.html') }}
	<section class="sec sec_mypage">
		<h2 class="sec_ttl" id="consultation_list">マイページ</h2>
		<ul class="tab_menu" id="tab_menu">
			<li class="tab_unresolved" id="tab_unresolved">未回答の相談</li>
			<li class="tab_history current" id="tab_history">相談履歴</li>
			<li class="tab_bookmark" id="tab_bookmark">ブックマーク</li>
		</ul>
		<div class="sec_inner">

			<div class="tab_content content_unresolved">
			</div>

			<div class="tab_content content_history">
			{% if list_all_num > 0 %}
				<ul class="content_list">
					{% for key, entry in answered_ar %}
						<li>
							<div class="box_wrap">
								<div class="left_box">
									<input type="checkbox" name="check[]" value="{{ entry.id }}">
								</div>
								<div class="right_box">
									<a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}" class="ic ic_angle-right">
										<p class="content_category icon {{ entry.class }}"><strong>{{ entry.big_category_name }}</strong>{{ entry.category_name }}</p>
										<h3 class="content_ttl">{{ entry.title }}</h3>
										<p>{{ entry.message|striptags|trim }}</p>
									</a>
								</div>
							</div>
							<div class="content_date cf">
								<p class="post_date">{{ entry.create_date|date("Y.m.d H:i") }}</p>
								<ul class="posted_ability">
									{% if entry.like_count > 0 %}
									<li><p class="ic ic_heart">{{ entry.like_count }}</p></li>
									{% else %}
									<li><p class="ic ic_heart-o">{{ entry.like_count }}</p></li>
									{% endif %}
									{% if entry.comment_count > 0 %}
									<li><p class="ic ic_comment">{{ entry.comment_count }}</p></li>
									{% else %}
									<li><p class="ic ic_comment-o">{{ entry.comment_count }}</p></li>
									{% endif %}
								</ul>
							</div>
						</li>
					{% endfor %}
				</ul>
				<div class="content_bottom cf">
					<ul class="pager_wrap">
						{{ pagination|raw }}
					</ul>

					<ul class="btn_wrap">
						<li><a id="checked_delete" href="#" class="btn_style btn_gray-o">チェックした項目を削除</a></li>
					</ul>

				</div>
			{% else %}
				<div class="search_found not_found cf">
					<p>過去に相談した履歴はありません。</p>
					<ul class="btn_wrap">
						<li><a href="{{ base_url }}bb/posting" class="btn_style btn_green">相談する</a></li>
					</ul>
				</div>
			{% endif %}
			</div>

			<div class="tab_content content_bookmark">
			</div>

		</div>
	</section>
	{% if bonusData %}
	<section class="sec sec_pt_rate">
		<h2 class="sec_ttl">ポイントレート</h2>
		<div class="sec_inner">
			<table>
				<tr>
					<th style="width:53%"></th>
					<td>レート</td>
					<td>獲得</td>
				</tr>
				<tr>
					<th>{{ question_label }}</th>
					<td>{{pointSettings.question_bonus}}</td>
					<td>{{ bonusData.question_bonus }}</td>
				</tr>
				<tr>
					<th>{{ answer_label }}</th>
					<td>{{pointSettings.answer_bonus}}</td>
					<td>{{ bonusData.answer_bonus }}</td>
				</tr>
				<tr>
					<th>{{ like_label }}</th>
					<td>{{pointSettings.like_points_multiply_by}}</td>
					<td>{{ bonusData.like_points_multiply_by }}</td>
				</tr>
				<tr>
					<th>{{ weekly_label }}</th>
					<td>{{pointSettings.evaluate_bonus}}</td>
					<td>{{ bonusData.evaluate_bonus }}</td>
				</tr>
				<tr>
					<th>{{ max_answer_label }}</th>
					<td>{{pointSettings.max_answer_has_bonus}}</td>
					<td></td>
				</tr>
			</table>
		</div>
	</section>
	{% endif %}
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script>
	$("#tab_unresolved").on('click', function(){
		window.location.href = '{{ base_url }}user/my_page/1/';
	});
	$("#tab_history").on('click', function(){
	});
	$("#tab_bookmark").on('click', function(){
		window.location.href = '{{ base_url }}user/my_page/3/';
	});

	$('#checked_delete').on('click',function() {
		var cont = 0;
 		var checks=[];
        $(".content_list input[name='check[]']:checked").each(function(){
			cont++;
            checks.push(this.value);
        });

		if (cont == 0) {
			return false;
		}

		if (!confirm('チェックした項目を削除します\nよろしいですか？')) {
			return false;
		}

        console.log(checks);
		$.ajax({
			type: "POST",
			url: "{{ base_url }}user/delete_unanswer_ajax",
			data: {
			    "checks":checks,
			}
		}).done(function(data){
			window.location = "{{ base_url }}user/my_page/2";
		}).fail(function(data){
		    alert('error!!!');
		});
	});
</script> 
</body>
</html>
