{% extends './inc/doctype.html' %}

{% block title %}よくある質問{% endblock %}

{% block body %}
<div class="page_wrap page-site_faq"> {% if user_login_flag %}
	{{ include('./inc/header_after_logging.html') }}
	{% else %}
	{{ include('./inc/header.html') }}
	{% endif %}
	{{ include('./inc/breadcrumb_list.html') }}
	<div class="conteiner">
		<section class="contnt_box site_faq">
			<div class="site_faq_content">
				<h2 class="site_faq_h">よくある質問</h2>
				<ul>
					<li class="faq_mark"><i class="fa fa-question-circle"></i></li>
					<li class="faq_sentence">{{ site_name }}とはなんですか？</li>
				</ul>
				<ul>
					<li class="as"><i class="fa fa-font"></i></li>
					<li class="faq_sentence">法律に関する相談を誰でも行うことができるポータルサイトです。</li>
				</ul>
				<ul>
					<li><i class="fa fa-question-circle"></i></li>
					<li>料金は掛かりますか？</li>
				</ul>
				<ul>
					<li class="as"><i class="fa fa-font"></i></li>
					<li class="faq_faq_sentence">全ての機能を無料でご利用いただく事ができますのでご安心ください。</li>
				</ul>
				<ul>
					<li><i class="fa fa-question-circle"></i></li>
					<li>ログインができません</li>
				</ul>
				<ul>
					<li class="as"><i class="fa fa-font"></i></li>
					<li class="faq_sentence">ログイン情報をお確かめのうえ、ログインを試みてください。</li>
				</ul>
				<ul>
					<li><i class="fa fa-question-circle"></i></li>
					<li class="faq_sentence">パスワードを忘れてしまいました</li>
				</ul>
				<ul>
					<li class="as"><i class="fa fa-font"></i></li>
					<li class="faq_sentence">ログイン画面にあるパスワード忘れ時の請求フォームよりご登録時のアドレスをご入力頂き送信することでご入力頂いたアドレスへパスワードを送信いたします。 </li>
				</ul>
				<ul>
					<li><i class="fa fa-question-circle"></i></li>
					<li>相談をしてみたいのですがどうすればいいですか？</li>
				</ul>
				<ul>
					<li class="as"><i class="fa fa-font"></i></li>
					<li class="faq_sentence">相談を行うにはまず無料の会員登録をする必要があります。<br>
						会員登録後にサイトの随所に「相談する」のボタンがありますので押すことでフォームへ移動します。<br>
						相談フォームにご入力を頂き投稿することで相談が投稿されます。<br>
						後は弁護士からの回答を待ちましょう。 </li>
				</ul>
				<ul>
					<li><i class="fa fa-question-circle"></i></li>
					<li class="faq_sentence">相談した内容を見ることが出来ません。</li>
				</ul>
				<ul>
					<li class="as"><i class="fa fa-font"></i></li>
					<li class="faq_sentence">相談した内容は弁護士からの回答がつくまで相談者以外の方が閲覧することは出来ません。<br>
						相談者ご自信が見れない場合はログインの有無をご確認ください。 </li>
				</ul>
				<ul>
					<li><i class="fa fa-question-circle"></i></li>
					<li class="faq_sentence">弁護士先生からの回答がもらえません。</li>
				</ul>
				<ul>
					<li class="as"><i class="fa fa-font"></i></li>
					<li class="faq_sentence">当サイトでは弁護士からの回答が確実に得られる保証をしておりません。</li>
				</ul>
				<ul>
					<li><i class="fa fa-question-circle"></i></li>
					<li class="faq_sentence">退会をしたいです</li>
				</ul>
				<ul>
					<li class="as"><i class="fa fa-font"></i></li>
					<li class="as">退会をする場合はお問合せフォームへ退会の旨をご入力頂き送信してください。<br>
						2-3営業日以内に退会の対応をさせて頂きます。<br>
						※フォーム内にご登録時のメールアドレスを必ずご記載願います。 </li>
				</ul>
			</div>
		</section>
	</div>
</div>
{{ include('./inc/footer.html') }} 
{% endblock body %}