{% extends './inc/doctype.html' %}

{% block title %}当サイトについて{% endblock %}

{% block body %}
    <div class="container">
        <div class="content_wrap">
            <h2><span>当サイトについて</span></h2>
        </div>
        {{ include('./inc/footer_menu.html') }}
    </div>
{% endblock body %}