{% extends './inc/doctype.html' %}

{% block title %}利用規約{% endblock %}

{% block body %}
<div class="page_wrap page-user_policy">
{% if user_login_flag %}
  {{ include('./inc/header_after_logging.html') }}
{% else %}
	{{ include('./inc/header.html') }}
{% endif %}
	{{ include('./inc/breadcrumb_list.html') }}
	<div class="container">
		<div class="content_wrap">
			<section class="contnt_box user_policy">
				<h2 class="ttl_h">利用規約</h2>
				<div>
					<dl>
						<dt>第1条（規約の適用範囲及び変更</dt>
						<dd>1.本規約は、本サービス並びに本サービスを通して提供される弊社が運営する全サービスの提供条件及び全サービスの利用に関して当社と本利用者、登録弁護士との間の権利義務関係を定めることを目的とし、本利用者と当社との間の全サービスの利用に関わる一切の関係に適用されます。</dd>
						<dd>2.本規約は、弁護士含む全ての利用者に適用されるものとします。本規約は利用者と弊社の間の唯一の合意事項であり、他の口頭又は書面による合意に優先するものとします。ただし、本規約に優先する旨を特記した書面による合意は、本規約に優先するものとします。</dd>
						<dd>3.弊社は利用者の承諾を得ることなく、本規約を変更できるものとし、本サービスに当社が適当と判断する方法で全文を掲載・告知することで直ちに発効し、全ての利用者に適用されるものとします。</dd>
						<dd>4.利用者は、常に自身の責任で、本サービスを利用する前に本規約の最新版を読み、本規約に同意の上、本サービスを利用するものとします。利用者が本サービスを利用した場合、本規約に同意して利用したものとみなすものとします。</dd>
					</dl>
					<dl>
						<dt>第2条（用語の定義）</dt>
						<dd>1.本規約において使用する以下の用語の意味は、以下に定めるとおりとします。</dd>
						<dd>・「登録弁護士」とは本サービスの利用規約に同意しサービスを開始した弁護士のことをいいます。</dd>
						<dd>・「利用者」とは単純閲覧者及び会員登録済みの会員、並びに登録弁護士のことをいいます。</dd>
						<dd>2.本サービスとは、有限会社ユニ（以下「弊社」と言います。）が提供する以下のサービスとします。</dd>
						<dd>《{{ site_name }}》</dd>
						<dd>・{{ site_name }}内のすべての情報閲覧が可能</dd>
						<dd>・登録弁護士への法律相談をする機能</dd>
						<dd>・自己プロフィールの登録・公開・更新</dd>
						<dd>《その他》</dd>
						<dd>有限会社ユニが運営する、「{{ site_name }}」その他のサービスから構成される全てのユーザー間をつなぐウェブサイト、及び当該ウェブサイトが提供するサービスの総称とします。</dd>
					</dl>
					<dl>
						<dt>第3条（設備等の準備）</dt>
						<dd>利用者は、必要な機器やソフトウェア、通信手段など、本サービスを利用するための準備を自己の費用と責任において行うものとします。弊社は本サービスにアクセスするための準備や方法などについては一切関与しないものとします。</dd>
					</dl>
					<dl>
						<dt>第4条（利用者登録の申込み）</dt>
						<dd>《一般利用者》</dd>
						<dd>1.「{{ site_name }}」に質問の投稿を行う等、閲覧以外の本サービス会員機能を利用するためには、利用者登録を行い、登録利用者になる必要があります。</dd>
						<dd>2.利用者の登録は無料で行うことができます。</dd>
						<dd>3.利用者登録を希望する利用者は、当社の指定する申込方法で利用者登録の申し込みを行うことで本サービスの会員機能を利用することができます。</dd>
						<dd>4.登録希望者が次に掲げる事項に該当し、又は該当するおそれがあると当社が判断した場合、当社は当該登録希望者からの申込みを承諾せずアカウントの停止をする場合がございます。この場合、当社はアカウント停止に関し一切の説明義務及び、それに掛かる損害賠償義務を負いません。</dd>
						<dd>1）前項に定める申込みに不備（虚偽、誤記、記入漏れを含むが、これらに限りません。）がある場合</dd>
						<dd>2）過去に本規約違反等をしたことにより、利用者登録の抹消、登録利用者資格の利用停止などの措置が行われたことがある場合やその恐れがある場合</dd>
						<dd>3）その他、登録希望者を利用者登録することが不適切であると当社が判断した場合</dd>
					</dl>
					<dl>
						<dt>第5条（登録情報の変更）</dt>
						<dd>《一般利用者》</dd>
						<dd>1.一般利用者、弁護士などログインすることでサービスを利用することができる全ての登録利用者は、登録したメールアドレス等の情報に変更が生じた場合や自信の都合により本サービス上のマイメニューより任意でその情報を変更できるものとします。登録内容の変更がなされなかったことにより生じた損害については、全て当該登録利用者が負うものとし、当社は一切の責任を負いません。</dd>
						<dd>2.利用登録をした全ての利用者は、当社から登録利用者宛に送信される電子メールの受信を拒否する設定等を行ってはならないものとし、受信拒否設定や登録利用者自信が所定フォームからメールアドレスが変更をした等の事情により、当該登録利用者に配信されたメールがエラー等により不通であった場合でも、当社からの通知の発信時をもって通知がなされたものとみなします。</dd>
						<dd>3.登録利用者が当社からの通知を受領できなかったことで、登録利用者に損害が生じたとしても、当社は一切の責任を負いません。</dd>
					</dl>
					<dl>
						<dt>第6条（ID及びパスワードの管理）</dt>
						<dd>《一般利用者》</dd>
						<dd>1.一般利用者、弁護士などログインすることでサービスを利用することができる全ての登録利用者は、登録時に任意でIDとパスワードを選択することができます。ID及びパスワードは自身で管理責任を負うものとし、当該ID及びパスワードを第三者に知られるような態様で管理してはならないものとします。この義務を怠ったことにより損害が生じても当社は、一切の責任を負いません</dd>
						<dd>2.ID及びパスワードを用いてなされた本サービスの利用は、全て当該ID及びパスワードの発行を受けた登録利用者本人によりなされたものとみなし、当該ID及びパスワードの不正利用により当社又は第三者が損害を被った場合には、当該ID及びパスワードを使用した者が登録利用者本人であるか否かを問わず、当該登録利用者は当該損害を賠償するものとします。</dd>
						<dd>3.全ての登録利用者は、第三者から推測されにくいパスワードを使用する義務があるものとします。この義務を怠ったことにより損害が生じても当社は、一切の責任を負いません。</dd>
						<dd>4.全ての登録利用者はID及びパスワードの使用及び管理に責任を持つものとします。登録利用者の管理不十分、使用上の過誤、第三者の使用等により登録利用者に損害が生じたとしても、当社は一切の責任を負いません。</dd>
						<dd>5.全ての登録利用者はID及びパスワードを第三者に利用させたり、貸与、譲渡、売買、質入等を行うことはできないものとします。</dd>
						<dd>6.当社は、不正利用防止のため一定回数以上にわたりログインに失敗したなど、登録利用者のID及びパスワードに不正利用やアカウント乗っ取りの可能性があると判断した場合は、当該ID及びパスワードを利用停止とすることができるものとします。その場合、登録利用者は当社が定める手続に従い、利用停止の解除を行うこととします。なお、当社がこのような措置をとったことにより、当該登録利用者がID及びパスワードを使用できず損害が生じても、当社は一切の責任を負いません。</dd>
					</dl>
					<dl>
						<dt>第7条 （料金の支払い）</dt>
						<dd>本サービスを利用する一般利用者、弁護士は、本サービス利用に際し一部有料となる機能を利用する場合は当社が定める支払い方法により支払うことで有料機能を利用することができるものとします。</dd>
						<dd>有料機能の範囲は当社が適正と判断したサイト上に詳細を表記告知するものとします。</dd>
						<dd>所定の期日内に支払いが確認されない場合は当該アカウントの有料機能の停止を行うことがございます。</dd>
						<dd>当該アカウントの機能の無効化により当該者、第三者へ損害が発生しましても当社では一切責任を負うことができません。</dd>
					</dl>
					<dl>
						<dt> 第8条（利用停止等）</dt>
						<dd>1.当社は、利用者が以下の事由に該当すると判断した場合には、事前に通知することなく、かつ、承諾を得ることなく、本サービスの利用停止の措置ができるものとし、当該理由を開示する義務を負わないものとします。</dd>
						<dd>1）本規約に違反したとき</dd>
						<dd>2）本利用者が当社のコンピューターに保存のデータを当社に無断で閲覧、変更若しくは破壊、又はそのおそれがあると当社が判断したとき</dd>
						<dd>3）本利用者が公序良俗に反し又は登録利用者にふさわしくないと当社が判断したとき</dd>
						<dd>4）自ら又は第三者を利用して、本規約第11条に定める禁止事項を行ったとき</dd>
						<dd>2.利用者が前項各号に該当するため、当社が前項に定める措置をとった場合において、当該利用者に損害が発生したとしても、当社は一切責任を負わないものとします。</dd>
					</dl>
					<dl>
						<dt>第9条（サービス提供の一時停止）</dt>
						<dd>1.当社は、以下のいずれかに該当する場合には、本利用者に事前に通知することなく、本サービスの全部又は一部の提供を停止又は中断することができるものとします。</dd>
						<dd>1）システムのメンテナンス又は保守を緊急に行う場合</dd>
						<dd>2）コンピューター、通信回線が事故や第三者からの攻撃によって停止した場合</dd>
						<dd>3）地震、落雷、火災などの不可抗力によって本サービスの運営ができなくなった場合</dd>
						<dd>4）その他、当社が停止又は中断を行う必要があると判断した場合</dd>
						<dd>2.当社は、本条に基づき当社が行った措置に基づき本利用者に生じた損害について一切の責任を負いません。</dd>
					</dl>
					<dl>
						<dt>第10条（退会）</dt>
						<dd>全ての登録利用者は、当社所定の登録抹消手続を行うことにより、いつでも本サービスの退会（利用者登録の抹消）をすることができます。 ただし、過去に当該登録利用者がサイト内で投稿した相談や質問等は削除することはできません。</dd>
						<dd>登録利用者は、退会手続を行った場合、当社で利用していた登録利用者のアカウントに関する一切の権利を失うものとします。</dd>
						<dd>登録利用者が退会手続を完了した場合、又はその理由を問わず、当社と登録利用者との間の本規約に基づく契約が終了した場合であっても、第6条（ID及びパスワードの管理）、本条（退会）、第11条（禁止行為）、第１2条（個人情報等の取り扱い）、第１3条（知的財産権）、第20条（免責事項）、第21条（反社会的勢力への不関与）、第22条（分離可能性）及び第23条（準拠法、合意管轄）の規定については、その効力を有するものとします。</dd>
					</dl>
					<dl>
						<dt>第11条（禁止行為）</dt>
						<dd>1.本利用者は、本サービスの利用に当たり、以下の行為を行ってはならないものとします</dd>
						<dd>1）本サービスの提供する情報（一部もすくは全部）を、当社の事前の同意なしに、複写もしくはその他の方法により再生、複製、送付、譲渡、頒布、配布、転売又はこれらの目的で使用するために保管する行為</dd>
						<dd>2）本規約に違反する行為</dd>
						<dd>3）他人の知的財産権を侵害する行為</dd>
						<dd>4）他人のプライバシーを侵害する行為</dd>
						<dd>5）他人の名誉・信用等を侵害する行為</dd>
						<dd>6）公序良俗に反する行為</dd>
						<dd>7）犯罪的行為又は犯罪的行為に結びつく行為</dd>
						<dd>8）事実に反した情報及び架空の情報を提供する行為</dd>
						<dd>9）研究・学術調査を目的として情報を提供する行為</dd>
						<dd>10）当社が特に許可をした場合を除き、営業、宗教活動および政治活動を目的とする情報を提供したり、登録弁護士に対して連絡を取る行為</dd>
						<dd>11）当社や本サービスの運営を妨げたり、信用を毀損する行為</dd>
						<dd>12）当社の管理するサーバーに対して、コンピュータウィルスなどの有害なプログラムを配信する行為</dd>
						<dd>13）本サービス及び本サービスに関連して使用されている全てのソフトウェア又はプログラム等についてリバースエンジニアリング、逆コンパイル、逆アセンブルその他改変等を行う行為</dd>
						<dd>14）IDやパスワードを不正に使用する行為</dd>
						<dd>15）法令に違反する行為又は法令に違反するおそれのある行為</dd>
						<dd>16) 法的な責任を超えた不当な要求行為</dd>
						<dd>17)  暴力的な要求行為</dd>
						<dd>18)  取引に関して、脅迫的な言動をし、又は暴力を用いる行為</dd>
						<dd>19) 風説を流布し、偽計を用い又は威力を用いて相手方の信用を毀損し、又は相手方の業務を妨害する行為</dd>
						<dd>20）その他、当社が不適切であると判断する行為</dd>
					</dl>
					<dl>
						<dt>第12条（個人情報等の取り扱い）</dt>
						<dd>1.当社は、登録利用者が登録した個人情報、登録利用者が当社のサービスを通じて当社に提供した個人情報、その他の本利用者が当社に提供したすべての情報（以下総称して「提供個人情報」といいます。）を本サービスの「プライバシーの考え方」に基づき、適切に取り扱うものとします。</dd>
						<dd>2.当社は登録利用者に対して、メールその他の方法により、当社より広告を含む情報提供を行うことができるものとし、登録利用者は、これに同意するものとします。</dd>
						<dd>3.当社の提携先企業や広告主企業のウェブサイト等は本サービスとは別個のプライバシーポリシーを設けていますので、それぞれご確認 頂き、利用者がこれら広告先のサービスを利用することで損害が生じた場合、当社へ一切の損害を請求することはできません。</dd>
						<dd>4.裁判所、検察庁、警察、税務署、弁護士会、消費者センター又はこれに準じた権限を有する機関、又は当社に対して秘密保持義務を負う者から、登録利用者情報についての開示が求められた場合は、当社の権利、信用や財産を保護する目的で情報の全部または一部を開示するものとし、利用者はこれに同意するものとします。</dd>
						<dd>5.当社は本サービス運営事業を他社に譲渡した場合、当該事業譲渡に伴い本規約上の地位、本規約に基づく権利及び義務並びに本利用者の登録情報、提供個人情報その他の情報を当該事業譲渡の譲受人に譲渡することができるものとし、本利用者は、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。</dd>
						<dd>6.当社は、本サービスを通じて得た情報や本利用者から提供又は入力された情報（これらの情報には、個人又は法人を特定する情報を除いたうえでの情報を、情報の分析や評価をし、第三者への情報提供等のために利用することがあります。</dd>
						<dd>7.当社は、本サービスの運営にあたりやむを得ず必要と認める場合、登録弁護士の相談回答の内容、その他の一般利用者と登録弁護士との間のやりとり又は登録弁護士間のやりとりの具体的内容を知得することがあります。</dd>
					</dl>
					<dl>
						<dt>第13条（知的財産権）</dt>
						<dd>1.本利用規約に定めるほか、本サービス上の全ての文章、画像、イラストおよび動画などを含めた情報の無断使用を禁止します。</dd>
						<dd>2.本サービスに関わる記載（ウェブ上での告知、メールマガジンなどを含む）について、無断で編集、複製または転載することを禁止します。</dd>
						<dd>3.本サービス若しくはソフトウェア又はそれらに含まれる内容を複製、公開、譲渡、貸与、翻訳、転売、転送、使用許諾、再利用等してはならないものとします。また、本利用者がこれらの行為によって受けた損害に関し、当社は、一切の保証をしないと同時に、本利用者がこれらの行為を行った場合、損害賠償請求をすることがあります。</dd>
						<dd>4.前項に違反し、当社が何らかの損害を被った場合には、利用者は当社に対して損害の賠償をしなければならないものとします。</dd>
					</dl>
					<dl>
						<dt>第14条 （投稿内容の変更および削除）</dt>
						<dd>1.当社は、以下の事由がある場合には、当該投稿内容を投稿した利用者に承諾を得ることなく当該投稿内容またはその表示される内容を変更または削除することが できるものとします。また、当社はそれら変更または削除の対応業務に従事した者に係る人件費、その他の費用に相当する金額を含め、当社が被った損害を当該 投稿内容を投稿した利用者に賠償するよう請求することができるものとします。</dd>
						<dd>（1）法令または本利用規約などに違反したものである場合</dd>
						<dd>（2）第11条に定める禁止事項に該当する場合</dd>
						<dd>（3）第三者を含む実在する人物や団体に対し不利益となる投稿</dd>
						<dd>（4）当社が直ちに変更または削除する必要があると判断した場合</dd>
						<dd>2.投稿内容は削除されるものではなく、当社において保存し、本サービス上または他のウェブサイトにおいて表示されるものとします。
							3.当社は、利用者から、その利用者自身が投稿し、表示されている内容の変更、修正または削除の申し出を受けた場合でも、投稿し、表示されている内容の変更、修正および削除を行わないものとします。ただし、表示されている内容が第1項各号に該当する場合を除きます。</dd>
					</dl>
					<dl>
						<dt>第15条 （情報の無断使用の禁止）</dt>
						<dd>1.本利用規約に定めるほか、本サービス上の文章、画像、イラストおよび動画などを含めた情報の無断使用を禁止します。</dd>
						<dd>2.本サービスに関わる記載（ウェブ上での告知、メールマガジンなどを含む）について、無断で編集、複製または転載することを禁止します。</dd>
						<dd>3.第1項または第2項に違反し、当社が何らかの損害を被った場合には、利用者は当社に対して損害の賠償をしなければならないものとします。</dd>
					</dl>
					<dl>
						<dt>第16条 （投稿内容の権利）</dt>
						<dd>1.投稿テキストの著作権等の帰属については以下の各号に定めるとおりとします。</dd>
						<dd>（1）著作権法第21条から第28条までにおいて定義される権利については、投稿した利用者から譲渡され当社に帰属します。</dd>
						<dd>（2）著作権法第18条から第20条までにおいて定義される権利については、投稿した利用者は、自らまたは第三者をして、当社または当社の指定する第三者に対して行使せず、またはさせないものとします。</dd>
						<dd>（3）第1号および第2号の対価として、当社は、投稿した利用者に対し、何らの支払も要しないものとします</dd>
						<dd>2.投稿されたデータの著作権等の帰属については、以下の各号に定めるとおりとします。</dd>
						<dd>（1）投稿した利用者は、自身が投稿したデータに記録されている内容に関する一切の特許権、商標権、企業秘密、著作権若しくはその他の財産権および個人情 報を含むプライバシー権、肖像権などの諸権利について保有するか、または、当社をして投稿されたデータの利用をさせるのに必要なライセンス、権利、同意お よび許可を有していることを保証するものとします。万一、第三者との間で何らかの紛争が発生した場合には、投稿した利用者の費用と責任において問題を解決 するとともに、当社に何等の迷惑または損害を与えないものとします。</dd>
						<dd>（2）著作権法第21条から第28条までにおいて定義される権利については、投稿した利用者または第三者に留保されます。</dd>
						<dd>（3）著作権法第18条から第20条までにおいて定義される権利については、投稿した利用者は、自らまたは第三者をして、当社または当社の指定する第三者に対して行使せず、またはさせないものとします。</dd>
						<dd>（4）投稿データを投稿した利用者は当社に対し、非独占的に、世界中で当該投稿データの表示、編集、複製、転載、配布などを行い、かつ当社が有益であると 判断した場合にはその内容を利用（出版、映像、翻訳、放送、演劇化などの派生著作物の作成および利用の場合を含む）することができるためのライセンス（サ ブライセンスが可能であり、譲渡が可能なライセンス）を、無償で付与するものとします</dd>
						<dd>3.当社は、第1項に基づく著作権の帰属に基づき、または前項に基づくライセンスに基づき、投稿内容の保存、複製、転載などを行い、当社が有益である と判断した場合にはその内容を利用（出版、映像、翻訳、放送、演劇化などの利用の場合を含む）することができます。これらを行う場合でも、当社は投稿した 利用者に対し、何らの支払も要しないものとし、また、当社は投稿した利用者の氏名およびハンドルネーム、その他の投稿した利用者を表象する名称および情報 を表示しないことができるものとします。</dd>
						<dd>4.投稿内容の利用について、利用者および第三者に損害が発生したとしても、当社は一切責任を負わないものとします。</dd>
						<dd>5.当社は、第1項に基づき当社に著作権が帰属する本サービスにおける投稿テキストを、利用者が本サービスまたは当社が運営する他のサービスにおいて利用することを許諾します。</dd>
					</dl>
					<dl>
						<dt>第17条（国外からの利用）</dt>
						<dd>1.日本国外から本サービスを利用する場合には、居住国の法律および関係する国際条約に従うものとします。</dd>
						<dd>2.日本国外からの本サービスの利用者につき、当該利用者の本サービスの利用が居住国の法律および関係する国際条約に違反しないにもかかわらず、本 サービスの利用が、日本法に違反し当該利用者に損害が発生した場合、または、第三者に損害を発生させた場合、当社は一切責任を負わないものとします。</dd>
					</dl>
					<dl>
						<dt>第18条（法令等の順守）</dt>
						<dd>1.本サービス上でインターネットを介して提供される法律相談は、当社が直接的に法律相談を担当することはありません。</dd>
						<dd>2.当社は本利用者に対する弁護士の紹介又は弁護士の選定には一切関与いたしません。</dd>
						<dd>3.法律相談については回答を行う登録弁護士が、本利用者に対する法律相談について責任を負います。ただし、インターネット法律相談について必ず回答がなされることは保証されず、回答がなされない場合もあることについて、本利用者は予め了承のうえ相談を行うものとします。</dd>
						<dd>4.当社は、法律相談を担当する登録弁護士の法律事務所と別個の法律事務所が存在すると誤信されるおそれのある名称を用いません。</dd>
						<dd>5.当社は、一般利用者が登録弁護士から法律相談を受けることに関して、金銭その他の報酬を一切受領しません。</dd>
						<dd>6.法律相談に際し、個別に相談料金が発生する場合、相談をした一般利用者は、担当した弁護士又は当該弁護士の所属する弁護士法人に対し、直接相談料金を支払うものとします。</dd>
						<dd>7.登録弁護士は、個々の弁護士の責任において、本利用者に対して、弁護士としての職務上の義務を遵守します。</dd>
					</dl>
					<dl>
						<dt>第19条（サービスの変更・追加・廃止）</dt>
						<dd>1.当社は、理由の如何を問わず、登録利用者に事前に通知することなく、サービス内容の一部または全部（利用者権利）の内容を変更、追加、中止又は廃止することができるものとします。</dd>
						<dd>2.当社は、本利用者に通知の上、本サービスの全部又は一部を中止又は廃止することができるものとします。ただし、本サービスの全部又は一部を中止又は廃止する緊急の必要性がある場合は、事前の通知を行うことなく、中止又は廃止をすることができるものとします。</dd>
						<dd>3.当社は、登録利用者優待等及び本サービスを変更、追加、中止又は廃止したことにより本利用者又は第三者に生じた損害について、一切責任を負わないものとします。</dd>
					</dl>
					<dl>
						<dt>第20条（免責事項）</dt>
						<dd>1.当社は、本サービスによって提供する情報の正確性、完全性などを保証するものではありません。当該情報に起因して利用者および第三者に損害が発生したとしても、当社は一切責任を負わないものとします。</dd>
						<dd>2.本サービス上に投稿された投稿内容の履歴により、利用者および第三者に損害が発生したとしても、当社は一切責任を負わないものとします。</dd>
						<dd>3.当社は、利用者に発生した使用機会の逸失、停止、故障等データの滅失、業務の中断、またはあらゆる種類の損害（間接損害、特別損害、付随損害、派生損害、逸失 利益を含む）に対して、たとえ当社がかかる損害の可能性を事前に通知されていたとしても、当社は一切責任を負わないものとします。</dd>
						<dd>4.当社は、利用者が本サービスの利用によって、他の利用者および第三者に対して与えた損害、および利用者自身に生じた損害および紛争について、一切責任を負わないものとします。</dd>
						<dd>5.本サービスを受けるためのウェブサイトへの接続は、利用者が自己の費用で行うものとし、当社は一切の費用および責任を負わないものとします。 </dd>
						<dd>6.本利用者は、本サービス又は本サービスが提携するサービスにおいて、下記の事情により一定期間、本サービス又は本サービスが提携するサービスの利用が停止される場合があることを予め承諾し、本サービス又は本サービスが提携するサービスの停止による損害の補償等を当社に請求しないこととします。</dd>
						<dd>1）本サービス又は本サービスが提携するサービスのサーバー、ソフトウェア等の点検、メンテナンス、修理、補修等のための停止の場合</dd>
						<dd>2）コンピューター、通信回線等の事故による停止の場合</dd>
						<dd>3）その他、当社が予期しない天災、第三者からの攻撃などの事情による停止が必要であると当社が判断し、停止を行った場合</dd>
						<dd>8.本サービスを通じて提供される情報の使用又は使用不可能により発生する、あらゆる種類の直接的、間接的、特別、二次的、又は付随的な損害について一切責任を負いません。</dd>
						<dd>9.当社は、下記の各号に該当する記載を発見した場合、予告なく、当該記載を削除し、又は記載の修正を行う場合があります。なお、削除や修正対象に該当するか否かの判断は、全て当社が行い、当社は、削除や修正を行った理由について、開示する義務を負いません。また、削除や修正に起因して損害が生じたとしても、当社は、一切の責任を負いません</dd>
						<dd>1）本規約に反する記載</dd>
						<dd>2）法令に抵触する記載</dd>
						<dd>3）公序良俗に反する記載</dd>
						<dd>4）有害なプログラム・スクリプトなどを含む記載</dd>
						<dd>5）他人の名誉・信用を害する記載</dd>
						<dd>6）本サービスの運営を妨げる記載</dd>
						<dd>7）その他、当社が不適切であると判断した記載</dd>
						<dd>10.本規約に定める免責条項が適用されない等の理由により、当社が本利用者又は第三者に対して責任を負うべき場合、当社に故意又は重過失がある場合を除き、それらの責任に基づく損害賠償額はいかなる場合でも金1000円を上限額とすることに、当社及び本利用者は予め合意します。なお、本利用者は、本利用者がこの上限額の定めに同意しない限り当社が本サービスを提供しないことを十分に理解の上で、予め同意し承諾するものとします。</dd>
						<dd>11.サービスの利用に際し電子メールを利用することがございます。本利用者の利用環境により電子メールの通信が遮断され本利用者に損害が生じたとしても当社は一切の責任を負いません。</dd>
					</dl>
					<dl>
						<dt>第21条（反社会的勢力への不関与）</dt>
						<dd>1.本利用者は、自身が暴力団、暴力団員、暴力団関係企業、総会屋、特殊知能暴力集団、その他反社会的勢力（以下｢暴力団等反社会的勢力｣といいます。）に所属又は該当せず、かつ、暴力団等反社会的勢力と関与していないことを表明し、将来にわたっても所属若しくは該当、又は関与しないことを確約するものとします</dd>
						<dd>2.当社は、本利用者が暴力団等反社会的勢力に所属若しくは該当する、又は正当な理由なく関与していると判断した場合、当該本利用者に事前に通知等を行うことなく、当該本利用者の本サービスサイトへのアクセスを禁止し（登録利用者である場合には、登録利用者の登録を抹消等も含むがこれに限りません。）、当該本利用者が行った書込みの削除等の適切な措置を講じることがあります。</dd>
						<dd>3.当社は前項の措置による本利用者の損害を賠償する責任を一切負わないものとします。</dd>
					</dl>
					<dl>
						<dt>第22条（分離可能性）</dt>
						<dd>本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りのその他の条項、及び一部が無効又は執行不能と判断された条項の残りの部分は、継続して完全にその効力を有するものとします。</dd>
					</dl>
					<dl>
						<dt>第23条（準拠法、合意管轄）</dt>
						<dd>本利用者と当社との間における紛争については、日本国法を適用し、東京地方裁判所を第一審の専属的合意管轄裁判所とします。また、本規約は、日本国法に準拠し、解釈されるものとします。</dd>
					</dl>
				</div>
			</section>
		</div>
	</div>
</div>
{{ include('./inc/footer_area.html') }}
{{ include('./inc/footer.html') }}
{% endblock body %}

{% block javascripts %}
<script type="text/javascript">
$(function() {
    $( 'a[rel*=leanModal]').leanModal({
        top: 50,
        overlay : 0.5,
        closeButton: ".cancel_btn"
    });
}); 
</script>
{% endblock javascripts %}