@charset "utf-8";
/* CSS Document */
html {
	font-family: Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, sans-serif;
	font-size: 62.5%;
}
body {
	color: #372e2a;
	font-size: 15px;
	font-size: 1.5rem;
}
/* adjust */
input,textarea,select,button{
	font-family: Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, sans-serif;
	line-height:1;
}
input {
	margin: 0;
	padding: 0;
	position: relative;
	top: -1px;
}
.hide {
	display: none;
}
/* link */
a {
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.t_link {
	color: #fb6e52;
	text-decoration: underline;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.t_link:hover {
	opacity: 0.8;
}
.top_link {
    color: #fff;
    background: rgba(0,0,0,0.6);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    font-size: 1.5rem;
}
/* validate */
.validate p.error {
	color: #fff;
	padding: 10px;
	background: #ef4f5a;
	border-radius: 4px;
	margin: 0 0 10px;
}
.validate .ic_required:after {
	content: "必須";
	color: #fff;
	background: #F00;
	display: inline-block;
	font-size: 12px;
	font-size: 1.2rem;
	border-radius: 5px;
	padding: 2px 6px;
	margin: 0 10px;
}
/* button */
.btn_wrap {
	width: 100%;
	margin: 0 auto;
}
.btn_wrap button {
	border: none;
}
.btn_wrap li {
	display: inline-block;
	margin: 5px 10px;
}
.btn_wrap .btn_style {
	font-size: 1.5rem;
	color: #fff;
	display: block;
	border-radius: 5px;
	text-decoration: none;
	position: relative;
	text-align: center;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
	box-sizing:border-box;
	cursor:pointer;
}
.btn_wrap .btn_style:hover {
	opacity: 0.8;
}
.btn_wrap .btn_style.btn_green {
	background: #3fd8b7;
}
.btn_wrap .btn_style.btn_orange {
	background:#fb6e52;
}
.sec_consult_answer .btn_orange, .sec_consult_question .btn_orange {
	border: 2px solid #fb6e52;
}
.btn_wrap .btn_style.btn_orange-o {
	color:#fb6e52;
	border:solid 2px #fb6e52;
}
.btn_wrap .btn_style.btn_red {
	color: #fff;
	background: #f26964;
}
.btn_wrap .btn_style.btn_red-o {
	color: #f26964;
	border: solid 1px #f26964;
}
.btn_wrap .btn_style.btn_gray {
	background: #999999;
	width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 2.0rem;
}
.btn_wrap .btn_style.btn_gray-o {
	color: #372e2a;
	border: solid 1px #999999;
}
.btn_wrap .btn_style.btn_magenta {
	background: #fa216f;
}
.btn_wrap .btn_style.btn_blue {
	background: #2bc1e0;
}
.sec_consult_answer .btn_blue, .sec_consult_question .btn_blue {
	border: 2px solid #2bc1e0;
}
.btn_wrap .btn_style.btn_blue-o {
	color: #2bc1e0;
	border:solid 2px #2bc1e0;
}
/* pager */
.pager_wrap {
	font-size: 0;
	text-align: center;
}
.pager_wrap li {
	font-size: 14px;
	font-size: 1.4rem;
	display: inline-block;
	margin: 0 5px;
}
.pager_style {
	color: #FFF;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	background: #fb6e52;
	display: block;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
}
.pager_style.current {
	color: #555;
	background:none;
}
/* icon */
.ic {
}
.ic:before {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	font-family: FontAwesome;
	margin: 0 5px;
}
.ic.ic_cog:before {
	content: "\f013";
}
.ic.ic_comments:before {
	content: "\f086";
}
.ic.ic_home:before {
	content: "\f015";
}
.ic.ic_search:before {
	content: "\f002";
}
.ic.ic_angle-right:before {
	content: "\f105";
}
.ic.ic_comment:before {
	content: "\f075";
}
.ic.ic_comment-o:before {
	content: "\f0e5";
}
.ic.ic_heart:before {
	content: "\f004";
}
.ic.ic_heart-o:before {
	content: "\f08a";
}
.ic.ic_child:before {
	content: "\f1ae";
}
.ic.ic_female:before {
	content: "\f182";
}
.ic.ic_comments:before{
	content: "\f086";
}
.ic.ic_bookmark:before{
	content:"\f02e";
}
.ic.ic_sex:before{
	content:"";
	background:url(../image/icon/icon_sex.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size:contain;
}
.ic.ic_body:before{
	content:"";
	background:url(../image/icon/icon_body.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_baby:before{
	content:"";
	background:url(../image/icon/icon_baby.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_calender:before{
	content:"";
	background:url(../image/icon/icon_calender.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_hands:before{
	content:"";
	background:url(../image/icon/icon_hands.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_bust-up:before{
	content:"";
	background:url(../image/icon/icon_bust-up.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_woman:before{
	content:"";
	background:url(../image/icon/icon_woman.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_goods:before{
	content:"";
	background:url(../image/icon/icon_goods.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_man:before{
	content:"";
	background:url(../image/icon/icon_man.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_condom:before{
	content:"";
	background:url(../image/icon/icon_condom.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_singlemother:before{
	content:"";
	background:url(../image/icon/icon_singlemother.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_question:before{
	content:"";
	background:url(../image/icon/icon_question.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_bondage:before{
	content:"";
	background:url(../image/icon/icon_bondage.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}
.ic.ic_chat-lady:before{
	content:"";
	background:url(../image/icon/icon_chat-lady.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
}

/*--- common ---*/
.disable {
	cursor: default;
	pointer-events : none;
}
/* mypage adjust */
.btn_checkbox input[type=checkbox] {
	pointer-events : none;
}
.header_inner {
	position: relative;
	width: 1060px;
	margin: 0 auto;
}
.page_wrap .sec {
	line-height: 1.5;
}
/*--- header ---*/
.header_wrap {
	width: 100%;
	font-size: 15px;
	font-size: 1.5rem;
	background-color: rgba(255,255,255,0.8);
	border-top: solid 4px #fb6e52;
	box-sizing: border-box;
}
.header_wrap .header .left_box {
	float: left;
	position: absolute;
	width: 234px;
	height: 100px;
	top: 0;
	bottom: 0;
	margin: auto;
}
.header_wrap .header .right_box {
	float: right;
	text-align: right;
}
.header_wrap .header .header_inner {
	padding: 10px 0 15px;
	position: relative;
}
.header_wrap .header .right_box .header_banner_area, .header_wrap .header .right_box .header_site_ability {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	line-height: 1.5;
}
.header_wrap .header .right_box .header_banner_area li {
	display: inline-block;
}
.header_wrap .header .right_box .header_banner_area li a:hover {
	opacity: 0.8;
}
.header_wrap .header .right_box .header_banner_area li + li {
	margin-left: 10px;
}
.header_wrap .header .right_box .header_site_ability li {
	margin-bottom: 5px;
}
.header_wrap .header .right_box .header_site_ability li span {
	color: #fb6e52;
	font-weight: bold;
}
.header_wrap .header .right_box .header_user_menu, .header_wrap .header .right_box .header_account_menu {
	display: inline-block;
	vertical-align: bottom;
	margin: 0 10px;
	line-height: 1.5;
}
.header_wrap .header .right_box .header_user_menu li {
	display: inline-block;
}
.header_wrap .header .right_box .header_user_menu li + li:before {
	content: "|";
	margin: 0 10px;
	position: relative;
	top: -2px;
}
.header_wrap .header .right_box .header_user_menu li a {
	color: #372e2a;
	text-decoration: none;
}
.header_wrap .header .right_box .header_user_menu li a:hover {
	opacity: 0.8;
	text-decoration: underline;
}
.header_wrap .header .right_box .header_account_menu {
	width: auto;
}
.header_wrap .header .right_box .header_account_menu li {
	margin: 0;
}
.header_wrap .header .right_box .header_account_menu li + li {
	margin-left: 10px;
}
.header_wrap .header .right_box .header_account_menu li .btn_style {
	width: 120px;
	height: 34px;
	line-height: 34px;
}
.header_wrap .header_nav {
	color: #fff;
	width: 100%;
	height: 40px;
	background: #372E2A;
}
.header_wrap .header_nav .header_inner ul {
	padding: 10px 0;
	line-height: 20px;
	box-sizing: border-box;
}
.header_wrap .header_nav .header_inner ul li {
	display: inline-block;
	padding: 0 15px;
	border-left: solid 1px #fff;
}
.header_wrap .header_nav .header_inner ul li:last-child {
	border-right: solid 1px #fff;
}
.header_wrap .header_nav .header_inner ul li a {
	color: #fff;
	text-decoration: none;
}
.header_wrap .breadcrumb {
	background:#fb6e52;
}
.header_wrap .breadcrumb .header_inner ul {
	padding: 10px 0;
	line-height: 10px;
	box-sizing: border-box;
}
.header_wrap .breadcrumb .header_inner ul li {
	display: inline-block;
	padding: 0 10px;
	position:relative;
}
.header_wrap .breadcrumb .header_inner ul li + li:before{
	content:"\f105";
	font-family:FontAwesome;
	display:inline-block;
	position:absolute;
	color:#fff;
	left:-5px;
	font-size:16px;
	font-size:1.6rem;
}
.header_wrap .breadcrumb .header_inner ul li a {
	color: #fff;
}
.header_wrap .breadcrumb .header_inner ul li:last-child a {
	color:#372e2a;
	text-decoration:none;
	pointer-events: none;
}


/*--- footer ---*/
footer {
	width: 100%;
	background-color: #372E2A;
}
footer .footer_inner {
	color: #fff;
	width: 1060px;
	margin: 0 auto;
	padding: 25px 0;
	display: table;
}
footer .footer_inner .left_box {
	padding-right: 30px;
	display: table-cell;
}
footer .footer_inner .right_box {
	font-size: 14px;
	font-size: 1.4rem;
	vertical-align: top;
	display: table-cell;
}
footer .footer_inner .right_box dl + dl{
	border-top: dashed 1px #fff;
	padding-top:20px;
}
footer .footer_inner .right_box dl dt a {
	color: #ff0d59;
	text-decoration: none;
}
footer .footer_inner .right_box dl.nav_onayami dt a{
	color:#F65800;
}
footer .footer_inner .right_box dl.nav_joyspe dt a {
	color: #ff0d59;
	text-decoration: none;
}
footer .footer_inner .right_box dl dd ul {
	margin-bottom: 20px;
}

footer .footer_inner .left_box figure{
	text-align:center;
	margin-bottom:20px;
}
footer .footer_inner .left_box .btn_wrap{
	font-size:0;
}
footer .footer_inner .left_box .btn_wrap .btn_style{
	width:120px;
	height:35px;
	line-height:35px;
}
footer .footer_inner .right_box ul {
	width: 735px;
	padding: 10px 0 0;
	margin-bottom: 10px;
	line-height:2;
}
footer .footer_inner .right_box ul.footer_sitemap {
	border-top: dashed 1px #fff;
}
footer .footer_inner .right_box ul li {
	display: inline-block;
	padding-right: 15px;
}
footer .footer_inner .right_box ul li a {
	color: #fff;
	text-decoration: none;
	border-right: solid 1px #fff;
	padding-right: 15px;
}
footer .footer_inner .right_box ul li:last-child a {
	border:none;
}
footer .footer_inner .right_box ul li a:hover {
	opacity: 0.8;
	color: #F48A94;
	text-decoration: underline;
}
footer small {
	width:100%;
	color:#fff;
	padding:10px 0;
	background:#15110f;
	font-size: 12px;
	font-size: 1.2rem;
	text-align:center;
	display:block;
}
/*--- sidebar ---*/
.sec_new_consultation_list {
	border: 1px solid #dddddd;
	line-height: 1.5;
	border-radius: 5px 5px 0 0;
}
.sec_new_consultation_list .sec_ttl {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	background-color: #f4f4f4;
	padding: 15px;
	border-bottom: solid 1px #ddd;
	border-radius: 5px 5px 0 0;
}
.sec_new_consultation_list ul li a {
	display: block;
	padding: 0 5px 0 5px;
	text-decoration: none;
	color: #555;
	position: relative;
}
.sec_new_consultation_list ul li a:before {
	position: absolute;
	font-size: 24px;
	top: 50%;
	right: 10px;
	margin-top: -12px;
	color: #ccc;
}
.sec_new_consultation_list ul li a:hover {
	opacity: 0.8;
}
.sec_new_consultation_list ul li a .sec_list_inner {
	display: block;
	border-bottom: groove 2px #f5f5f5;
	padding: 15px 30px 15px 10px;
	padding-bottom: 15px;
}
.sec_new_consultation_list ul li:last-child a .sec_list_inner {
	border: none;
}
.sec_new_consultation_list ul li .posted_data {
	font-size: 12px;
	font-size: 1.2rem;
	color: #999999;
}
.sec_new_consultation_list ul li .posted_ttl {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sec_side_banner ul li {
	margin-bottom: 15px;
}
.sec_side_banner ul li img {
	max-width: 100%;
}
.sec_side_banner ul li a:hover {
	opacity: 0.8;
}
.sec_mypage_setting {
	border: 1px solid #dddddd;
	line-height: 1.5;
	border-radius: 5px 5px 0 0;
}
.sec_mypage_setting .sec_ttl {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	background-color: #f4f4f4;
	padding: 15px;
	border-bottom: solid 1px #ddd;
	border-radius: 5px 5px 0 0;
}
.sec_mypage_setting ul li a {
	display: block;
	padding: 0 5px 0 5px;
	text-decoration: none;
	color: #555;
	position: relative;
}
.sec_mypage_setting ul li a:before {
	position: absolute;
	font-size: 24px;
	top: 50%;
	right: 10px;
	margin-top: -12px;
	color: #ccc;
}
.sec_mypage_setting ul li a:hover {
	opacity: 0.8;
}
.sec_mypage_setting ul li a .sec_list_inner {
	display: block;
	border-bottom: groove 2px #f5f5f5;
	padding: 15px 30px 15px 10px;
	padding-bottom: 15px;
}
.sec_mypage_setting ul li:last-child a .sec_list_inner {
	border: none;
}
.sec_mypage_setting ul li .posted_data {
	font-size: 12px;
	font-size: 1.2rem;
	color: #999999;
}
.sec_mypage_setting ul li .posted_ttl {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sec_mypage_setting ul li .posted_ttl {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sec_category_link ul{
	font-size:0;
}
.sec_category_link ul li{
	display: inline-block;
	margin-bottom:10px;
	font-size:14px;
	font-size:1.4rem;
}
.sec_category_link ul li a{
    color: #996600;
    background-color: #F8EFE6;
    border: 1px solid #eeeeee;
    text-align: center;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    text-decoration: none;
	box-sizing:border-box;
	display:block;
}
.sec_category_link ul li a:hover {
	opacity: 0.8;
}
/*--- content ---*/
.page_wrap .content_wrap {
	width: 1060px;
	margin: 0 auto;
	padding: 30px 0 50px;
}
.page_wrap .content_wrap .content_inner {
	padding: 30px;
	background: rgba(255,255,255,0.8);
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.2);	
}

.page_wrap .content_wrap .sec_consult_answer .content_inner {
	margin-top:30px;
}

.page_consult .content_inner .sec_consult_answer{
	margin-top: 50px;
}

.page_wrap .content_wrap .content {
	width: 750px;
	float: left;
}
.page_wrap .content_wrap .sidebar {
	width: 280px;
	float: right;
}
.page_wrap.page_index .sec_search {
	border: 1px solid #fbac38;
	padding: 15px;
	box-sizing: border-box;
}
.page_wrap.page_index .sec_search .sec_ttl {
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: bold;
	display: inline-block;
}
.page_wrap.page_index .sec_search .sec_desc {
	float: right;
}
.page_wrap.page_index .sec_search .sec_search_table {
	width: 100%;
	width: calc(100% + 30px);
	width: -webkit-calc(100% + 30px);
	border-collapse: separate;
	border-spacing: 15px 0;
	margin: 0 0 0 -15px;
}
.page_wrap.page_index .sec_search .sec_search_table .ic.ic_search {
	width: 45px;
}
.page_wrap.page_index .sec_search .sec_search_table .ic.ic_search:before {
	font-size: 45px;
}
.page_wrap.page_index .sec_search .sec_search_table td input[type=text] {
	font-size: 18px;
	font-size: 1.8rem;
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #555555;
	box-sizing: border-box;
}
.page_wrap.page_index .sec_search .sec_search_table .search_btn {
	width: 120px;
}
.page_wrap.page_index .sec_search .sec_search_table .search_btn li {
	margin: 0;
}
.page_wrap.page_index .sec_search .sec_search_table td .btn_style {
	display: inline-block;
	width: 120px;
	line-height: 45px;
	margin: 0 auto;
	font-size: 20px;
	font-size: 2.0rem;
}
.page_wrap.page_index .sec_search .search_tag {
	padding-top: 15px;
	border-top: groove 2px #f5f5f5;
	line-height: 2;
}
.page_wrap.page_index .sec_search .search_tag li {
	display: inline-block;
	margin: 0 10px;
}
.page_wrap.page_index .sec_search .search_tag li a {
	color: #fbac38;
	text-decoration: none;
}
.page_wrap.page_index .sec_search .search_tag li a:hover {
	opacity: 0.8;
	text-decoration: underline;
}
.page_wrap.page_index .sec_category {
	border: 1px solid #dddddd;
}
.page_wrap.page_index .sec_category .sec_ttl {
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: bold;
	padding: 15px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #dddddd;
}
.page_wrap.page_index .sec_category .sec_inner {
	font-size: 0;
	padding: 15px 24px;
}
.page_wrap.page_index .sec_category .sec_inner .category_box {
	width: 100%;
}
.page_wrap.page_index .sec_category .sec_inner .category_box ul {
	font-size: 0;
	list-style:disc;
}
.page_wrap.page_index .sec_category .sec_inner .category_box ul li {
	font-size: 15px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size: 14px;
	font-size: 1.4rem;
	line-height:1.8;
	float:left;
	list-style-position: inside;
	width:-webkit-calc(100% / 3);
	width:calc(100% / 3);
}

.page_wrap.page_index .sec_category .category_box {
	margin: 0 auto 20px;
	font-size:0;
	display:inline-block;
	vertical-align: top;
}
.page_wrap.page_index .sec_category .category_box tr + tr td {
	padding-top: 15px;
}
.page_wrap.page_index .sec_category .category_box .sec_box_ttl {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 5px 0 5px 10px;
	border-left: solid 5px #fb6e52;
	margin-bottom: 10px;
}
.page_wrap.page_index .sec_category .category_box .sec_box_ttl a{
	color:#372e2a;
	text-decoration:none;
}
.page_wrap.page_index .sec_category .category_box .sec_box_ttl a:hover{
	opacity:0.8;
}
.page_wrap.page_index .sec_category .category_box .sec_box_ttl.ic:before{
	width:40px;
	height:40px;
}

.page_wrap.page_index .sec_category .category_box ul {
	line-height: 1.5;
}
.page_wrap.page_index .sec_category .category_box ul li a {
	color: #000;
	text-decoration: none;
}
.page_wrap.page_index .sec_category .category_box ul li a:hover {
	opacity: 0.8;
	text-decoration: underline;
}
.page_wrap.page_index .sec_category .create_consultation {
	border-top: groove 2px #f5f5f5;
	padding: 15px 0 5px;
}
.page_wrap.page_index .sec_category .create_consultation .btn_wrap {
	text-align: center;
}
.page_wrap.page_index .sec_category .create_consultation .btn_wrap .btn_style {
	width: 200px;
	height: 45px;
	line-height: 45px;
	font-size: 20px;
	font-size: 2.0rem;
}
.page_wrap.page_index .content_block_2 {
	background: #eeeeee;
	box-shadow: 0px 9px 3px -8px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0px 9px 3px -8px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0px 9px 3px -8px rgba(0,0,0,0.2) inset;
}
.page_wrap.page_index .content_block_2 .content_wrap {
	padding-bottom: 30px;
}
.page_wrap.page_index .sec_consultation_list .content_wrap > table {
	width: 100%;
}
.page_wrap.page_index .sec_consultation_list .sec_ttl {
	width: 100%;
	color: #FFF;
	font-size: 18px;
	font-size: 1.8rem;
	background-color: #f07d70;
	padding: 15px 0;
	text-align: center;
}
.page_wrap.page_index .sec_consultation_list .consultation_list_wrap {
	padding: 0 20px;
}
.page_wrap.page_index .sec_consultation_list .consultation_list {
	width: 230px;
	display: inline-block;
	background: #fff4f2;
	border-radius: 5px;
	line-height: 1.5;
	margin-right: 15px;
	margin-bottom: 30px;
	text-align: left;
	box-sizing:border-box;
	border: solid 1px #fff;
}
.page_wrap.page_index .sec_consultation_list .consultation_list > a {
	color: #555;
	display: block;
	padding: 10px;
	box-sizing: border-box;
	text-decoration: none;
}
/*.page_wrap.page_index .sec_consultation_list .consultation_list > a:hover {
	border: 1px solid #fb6e52;
}*/
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_top {
	margin-bottom: 10px;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_top .sec_box_category, .page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_top .sec_box_category_detail {
	color: #F07A73;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_top .sec_box_category {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_top .sec_box_category:before {
	width: 16px;
	height: 16px;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_top .sec_box_category_detail {
	font-size: 12px;
	font-size: 1.2rem;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_ttl {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_comment {
}
.page_wrap.page_index .sec_consultation_list .consultation_list .btn_wrap .btn_style {
	width: 140px;
	height: 35px;
	line-height: 35px;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_bottom {
	border-top: solid 1px #999;
	padding-top: 10px;
	margin: 10px;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_bottom .posted_data {
	font-size: 12px;
	font-size: 1.2rem;
	display: inline-block;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_bottom .posted_ability {
	float: right;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_bottom .posted_ability li {
	display: inline-block;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_bottom .posted_ability li .ic_heart:before{
	color:#F65800;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_bottom .posted_ability li + li {
	margin-left: 5px;
}
.page_wrap.page_index .content_block_3 {
	box-shadow: 0px 9px 3px -8px rgba(0,0,0,0.2) inset, 0px 9px 3px -8px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0px 9px 3px -8px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0px 9px 3px -8px rgba(0,0,0,0.2) inset;
}
.page_wrap.page_index .sec_site_notice {
	border-radius: 5px;
	background: #f5f5f5;
	padding: 15px;
	line-height: 1.5;
	box-sizing: border-box;
}
/*--- page_tos ---*/
.page_wrap.page_tos .content_wrap .sec_tos {
	line-height: 1.5;
}
.page_wrap.page_tos .content_wrap .sec_tos .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 20px;
	border-bottom: #fb6e52 solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_tos .content_wrap .sec_tos .sec_desc {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_tos .content_wrap .sec_tos dl {
	line-height: 1.5;
	padding: 20px 10px;
}
.page_wrap.page_tos .content_wrap .sec_tos dl + dl {
	border-top: 1px solid #eee;
}
.page_wrap.page_tos .content_wrap .sec_tos dl dt {
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 10px;
}
.page_wrap.page_tos .content_wrap .sec_tos dl dd {
	padding-left: 1rem;
	font-size: 16px;
	font-size: 1.6rem;
}
.page_wrap.page_tos .content_wrap .sec_tos dl dd ul {
	padding-left: 1.5rem;
	list-style: decimal;
}
/*--- page_company ---*/
.page_wrap.page_company .content_wrap .sec_company {
	line-height: 1.5;
}
.page_wrap.page_company .content_wrap .sec_company .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 20px;
	border-bottom: #fb6e52 solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_company .content_wrap .sec_company dl {
	line-height: 1.5;
	padding: 0px 10px 20px;
}
.page_wrap.page_company .content_wrap .sec_company dl + dl {
	border-top: 1px solid #EEEEEE;
	padding: 20px 10px 20px;
}
.page_wrap.page_company .content_wrap .sec_company dl dt {
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 10px;
}
.page_wrap.page_company .content_wrap .sec_company dl dd {
	padding-left: 1rem;
	font-size: 16px;
	font-size: 1.6rem;
}
/*--- page_privacy ---*/
.page_wrap.page_privacy .content_wrap .sec_privacy {
	line-height: 1.5;
}
.page_wrap.page_privacy .content_wrap .sec_privacy .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 20px;
	border-bottom: #fb6e52 solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_privacy .content_wrap .sec_privacy dl {
	padding: 20px 10px;
}
.page_wrap.page_privacy .content_wrap .sec_privacy dl + dl {
	border-top: 1px solid #EEEEEE;
}
.page_wrap.page_privacy .content_wrap .sec_privacy dl dt {
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 10px;
}
.page_wrap.page_privacy .content_wrap .sec_privacy dl dd {
	padding-left: 1rem;
	font-size: 16px;
	font-size: 1.6rem;
}
/*--- page_guideline ---*/
.page_wrap.page_guideline .content_wrap .sec_guideline {
	line-height: 1.5;
}
.page_wrap.page_guideline .content_wrap .sec_guideline .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 20px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	border-bottom: #fb6e52 solid 2px;
}
.page_wrap.page_guideline .content_wrap .sec_guideline dl {
	padding: 20px 20px 20px 10px;
}
.page_wrap.page_privacy .content_wrap .sec_privacy dl + dl {
	border-top: 1px solid #EEEEEE;
}
.page_wrap.page_guideline .content_wrap .sec_guideline dl dt {
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 10px;
}
.page_wrap.page_guideline .content_wrap .sec_guideline dl dd {
	padding-left: 1rem;
	font-size: 16px;
	font-size: 1.6rem;
}
.page_wrap.page_guideline .content_wrap .sec_guideline dl dd ul {
	padding-left: 1.5rem;
	list-style: decimal;
}
/*--- page_contact ---*/
.page_wrap.page_contact .content_wrap .sec_contact {
	line-height: 1.5;
}
.page_wrap.page_contact .content_wrap .sec_contact .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 20px;
	border-bottom: #fb6e52 solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl {
	margin-bottom: 20px;
}
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl dt {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 10px 0;
}
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl dt:after {
	content: "必須";
	color: #ffffff;
	background: #ef4f5a;
	font-size: 12px;
	font-size: 1.2rem;
	margin: 0 5px;
	padding: 4px 8px;
	border-radius: 5px;
	position: relative;
	top: -1px;
}
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl dd input[type="text"],
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl dd input[type="email"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	font-size: 1.6rem;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-sizing: border-box;
}
.page_wrap.page_contact .content_wrap .sec_contact .contact_form dl dd textarea {
	width: 100%;
	min-height: 160px;
	padding: 10px;
	font-size: 16px;
	font-size: 1.6rem;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 2px 0px #ccc inset;
	box-shadow: 2px 2px 2px 0px #ccc inset;
}
.page_wrap.page_contact .content_wrap .sec_contact .btn_wrap {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
.page_wrap.page_contact .content_wrap .sec_contact .btn_wrap_contact li {
	display: inline-block;
	margin: 0 10px;
}
.page_wrap.page_contact .content_wrap .sec_contact .btn_wrap .btn_style.btn_green {
	width: 300px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-size: 2rem;
}
.page_wrap.page_contact .content_wrap .sec_contact .sec_notice {
	border-top: solid 1px #ccc;
	padding-top: 30px;
}
.page_wrap.page_contact .content_wrap .sec_contact .sec_notice dl dt, .page_wrap.page_contact .content_wrap .sec_contact .sec_notice dl dd {
	display: inline-block;
}
.page_wrap.page_contact .content_wrap .sec_contact .sec_notice dl dt {
	font-weight: bold;
}
.page_wrap.page_contact .content_wrap .sec_contact .sec_notice .content_ttl {
	font-weight: bold;
	margin-bottom: 5px;
}
.page_wrap.page_contact .content_wrap .sec_contact .sec_notice .domain input {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 5px;
	border: solid 1px #ccc;
	border-radius: 5px;
}
/*--- page_contact_comp ---*/
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 40px;
	border-bottom: #fb6e52 solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_desc {
	margin-bottom: 30px;
    font-size: 16px;
    font-size: 1.6rem;
	padding:0 60px;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_notice {
	padding:0 60px;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp p strong{
	font-weight:bold;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp dl dt, .page_wrap.page_contact_comp .content_wrap .sec_contact_comp .sec_notice dl dd {
	display: inline-block;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp dl dt {
	font-weight: bold;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .content_ttl {
	    font-size: 28px;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: #fb6e52 solid 2px;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .domain input {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 5px;
	border: solid 1px #ccc;
	border-radius: 5px;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .btn_wrap {
	width: 100%;
	margin: 30px auto;
	text-align: center;
	padding-top: 30px;
	border-top: solid 1px #ccc;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .btn_wrap_contact li {
	display: inline-block;
	margin: 0 10px;
}
.page_wrap.page_contact_comp .content_wrap .sec_contact_comp .btn_wrap .btn_style.btn_green {
	width: 300px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-size: 2.0rem;
}
/*--- page_faq ---*/
.page_wrap.page_faq .content_wrap .sec_faq {
}
.page_wrap.page_faq .content_wrap .sec_faq .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 20px;
	border-bottom: #fb6e52 solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_faq .content_wrap .sec_faq dl {
	padding: 20px 10px;
}
.page_wrap.page_faq .content_wrap .sec_faq dl + dl {
	border-top: 1px solid #ccc;
}
.page_wrap.page_faq .content_wrap .sec_faq dl dt {
	color: #372e2a;
	font-weight: bold;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 20px;
}
.page_wrap.page_faq .content_wrap .sec_faq dl dt, .page_wrap.page_faq .content_wrap .sec_faq dl dd {
	position: relative;
}
.page_wrap.page_faq .content_wrap .sec_faq dl dt:before, .page_wrap.page_faq .content_wrap .sec_faq dl dd:before {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	width: 20px;
	height: 30px;
	content: "";
	background-size: contain;
	background-repeat: no-repeat;
}
.page_wrap.page_faq .content_wrap .sec_faq dl dt:before {
	background-image: url(../image/faq/faq_q.png);
}
.page_wrap.page_faq .content_wrap .sec_faq dl dd:before {
	background-image: url(../image/faq/faq_a.png);
	position: absolute;
	left: 0px;
}
.page_wrap.page_faq .content_wrap .sec_faq dl dd {
	line-height: 1.5;
	font-size: 16px;
	font-size: 1.6rem;
	position: relative;
	padding-left: 40px;
}
/*--- page_question ---*/
.page_wrap.page_question .content_wrap .sec_question {
	line-height: 1.5;
}
.page_wrap.page_question .content_wrap .sec_question .sec_ttl {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	margin: 0 auto 20px;
	padding: 0 0 10px;
	border-bottom: #fb6e52 solid 2px;
}
.page_wrap.page_question .content_wrap .sec_question .input_form {
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 30px;
}
.page_wrap.page_question .content_wrap .sec_question .input_form dl {
	padding-bottom: 20px;
}
.page_wrap.page_question .content_wrap .sec_question .input_form dl + dl {
	border-top: solid 1px #ccc;
	padding: 20px 0;
}
.page_wrap.page_question .content_wrap .sec_question .input_form dl dt {
	font-weight: bold;
	margin-bottom: 20px;
	padding-left: 10px;
	border-left: solid 4px #fb6e52;
}
.page_wrap.page_question .content_wrap .sec_question .input_form dl dd {
	padding: 0 14px;
}
.page_wrap.page_question .content_wrap .sec_question .input_form dl.input_nickname dd p{
	display:inline-block;
	margin-right:20px;
}
.page_wrap.page_question .content_wrap .sec_question .input_form dl dd select {
	width: 200px;
	padding: 10px;
	border-radius: 5px;
}
.page_wrap.page_question .content_wrap .sec_question .input_form dl.input_category_detail dd label + label {
	margin: 0 10px;
}
.page_wrap.page_question .content_wrap .sec_question .input_form dl.input_ttl dd input, .page_wrap.page_question .content_wrap .sec_question .input_form dl.input_content dd textarea {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: solid 1px #ccc;
	box-sizing: border-box;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 10px;
}
.page_wrap.page_question .content_wrap .sec_question .input_form dl.input_ttl dd .input_count, .page_wrap.page_question .content_wrap .sec_question .input_form dl.input_content dd .input_count {
	border: solid 1px #ccc;
	background: #f5f5f5;
	padding: 2px 10px;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 5px;
	float: right;
}
.page_wrap.page_question .content_wrap .sec_question .input_form dl.input_content dd textarea {
	height: 300px;
	font-size: 16px;
	-webkit-box-shadow: 2px 2px 2px 0px #ccc inset;
	box-shadow: 2px 2px 2px 0px #ccc inset;
}
.page_wrap.page_question .content_wrap .sec_question .input_form dl.input_ttl dd .input_desc, .page_wrap.page_question .content_wrap .sec_question .input_form dl.input_content dd .input_desc {
	font-size: 14px;
	float: left;
	color:#999999;
}
.page_wrap.page_question .content_wrap .sec_question .input_form .btn_wrap {
	border-top: solid 1px #ccc;
	text-align: center;
	padding-top: 30px;
}
.page_wrap.page_question .content_wrap .sec_question .input_form .btn_wrap li .btn_style {
	width: 300px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-size: 2.0rem;
}
/*--- page_question_conf ---*/
.page_wrap.page_question_conf .content_wrap .sec_question_conf {
	line-height: 1.5;
}
.page_wrap.page_question_conf .content_wrap .sec_question_conf .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 20px;
	border-bottom: #fb6e52 solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_question_conf .content_wrap .sec_question_conf .input_form {
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 30px;
	word-break:break-all;
    word-wrap: break-word;
}
.page_wrap.page_question_conf .content_wrap .sec_question_conf .input_form dl {
	padding-bottom: 20px;
}
.page_wrap.page_question_conf .content_wrap .sec_question_conf .input_form dl + dl {
	border-top: solid 1px #ccc;
	padding: 20px 0;
}
.page_wrap.page_question_conf .content_wrap .sec_question_conf .input_form dl dt {
	font-weight: bold;
	margin-bottom: 20px;
	padding-left: 10px;
	border-left: solid 4px #fb6e52;
}
.page_wrap.page_question_conf .content_wrap .sec_question_conf .input_form dl dd {
	padding: 0 14px;
}

.page_wrap.page_question_conf .content_wrap .sec_question_conf .input_form img {
	max-width: 100%;
}

.page_wrap.page_question_conf .content_wrap .sec_question_conf .btn_wrap {
	border-top: solid 1px #ccc;
	text-align: center;
	padding-top: 30px;
}
.page_wrap.page_question_conf .content_wrap .sec_question_conf .btn_wrap .btn_style{
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-size: 2.0rem;
}
/*--- page_question_comp ---*/
.page_wrap.page_question_comp .content_wrap .sec_question_comp {
	box-sizing: border-box;
}
.page_wrap.page_question_comp .content_wrap .sec_question_comp .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 40px;
	border-bottom: #fb6e52 solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}

.page_wrap.page_question_comp .content_wrap .sec_question_comp .sec_desc {
	margin-bottom: 30px;
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
}

.page_wrap.page_question_comp .content_wrap .sec_question_comp .content_ttl {
	    font-size: 28px;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: #fb6e52 solid 2px;
}
.page_wrap.page_question_comp .content_wrap .sec_question_comp .caution ul {
	padding: 20px 0;
	list-style: decimal;
	padding-left: 2em;
}
.page_wrap.page_question_comp .content_wrap .sec_question_comp .btn_wrap {
	border-top: solid 1px #ccc;
	text-align: center;
	padding-top: 30px;
}
.page_wrap.page_question_comp .content_wrap .sec_question_comp .btn_wrap .btn_style{
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-size: 2.0rem;
}


.page_wrap.page_consult .content_wrap .sec_consult_answer .user_name{
	color:#999999;
	font-size: 20px;
	font-size: 2.0rem;
	margin-top: 30px;
	padding: 0 0 10px 0;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .sec_ttl {
	font-size: 20px;
	font-size: 2.0rem;
	background-color: #e1cf9a;
	color: #996600;
	font-weight: bold;
	padding: 10px 15px;
	margin-bottom: 20px;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .consult_answer_list {
	padding-bottom: 30px;
	word-break: break-word;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .consult_answer_list:last-child {
	padding: 0;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .consult_answer_list + .consult_answer_list {
	padding-top: 30px;
	border-top: 1px dashed #555;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .consult_answer_list .consult_user_date {
	border-bottom: solid 1px #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .consult_answer_list .consult_user_date .user_name {
	float: left;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .consult_answer_list .consult_user_date .post_date {
	float: right;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .comment {
	font-size:16px;
	font-size:1.6rem;
	margin-bottom: 30px;
	line-height:1.8;
	word-wrap:break-word;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .comment p + p {
	margin-top: 20px;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .comment img {
	max-width: 100%;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .content_bottom{
	position:relative;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .content_bottom .post_date{
	float:left;
	font-size:12px;
	font-size:1.2rem;
	color:#999999;
	position:absolute;
	bottom:0;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .content_bottom .btn_wrap{
	width:auto;
	float:right;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .content_bottom .btn_wrap .btn_style {
	display: inline-block;
	width:190px;
	height:45px;
	line-height:45px;
	cursor: pointer;
	box-shadow: none;
	font-size:20px;
	font-size:2.0rem;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .destination{
	font-size:0;
	margin-bottom:10px;
	padding-top:20px;
	border-top:solid 1px #ccc;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .destination li{
	color:#999999;
	display:inline-block;
	position:relative;
	font-size:18px;
	font-size:1.8rem;
	margin:0 20px;
	font-weight:bold;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .destination li:last-child{
	font-weight:normal;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .destination li + li:before{
	content:"＞";
	display:inline-block;
	vertical-align:middle;
	position:absolute;
	left: -25px;
	font-size: 18px;
	font-size: 1.8rem;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .comment_reply{
	border:solid 1px #ccc;
	border-radius:5px;
	background:#f5f5f5;
	padding:25px 15px;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .comment_reply .comment p + p{
	margin-top:20px;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .comment_reply_input .content_ttl{
	font-size:18px;
	font-size:1.8rem;
	margin-bottom:10px;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .comment_reply_input textarea{
	width:100%;
	height:160px;
	border-radius:5px;
	-webkit-box-shadow: 2px 2px 2px 0px #ccc inset;
	box-shadow: 2px 2px 2px 0px #ccc inset;
	padding:15px;
	box-sizing:border-box;
	margin-bottom:5px;
	font-size:16px;
	font-size:1.6rem;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .comment_reply_input .btn_wrap{
	text-align:right;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .comment_reply_input .btn_wrap li{
	margin:0;
}
.page_wrap.page_consult .content_wrap .sec_consult_answer .comment_reply_input .btn_wrap .btn_style{
	width:120px;
	height:45px;
	line-height:45px;
	font-size:20px;
	font-size:2.0rem;
}
/* sec_mypage */
.page_wrap.page_mypage .content_wrap .sec_mypage .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 20px;
	border-bottom: #fb6e52 solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu {
	margin-bottom: -1px;
	font-size: 0;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu li {
	color:#fff;
	background:#372e2a;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	height: 50px;
	line-height: 50px;
	width:180px;
	border-radius: 5px 5px 0 0;
	border-top: solid 1px #372e2a;
	border-left: solid 1px #372e2a;
	border-right: solid 1px #372e2a;
	box-sizing:border-box;
	text-align:center;
	vertical-align: middle;
	cursor:pointer;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu li:hover {
	opacity:0.8;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu li.current {
	color:#372e2a;
	font-weight: bold;
	position: relative;
	z-index: 5;
	background:#fff;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu li.current:hover {
	opacity:1;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_menu li + li {
	margin-left: 5px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content {
	border: solid 1px #372e2a;
	position: relative;
	padding: 20px;
}

.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found .left_box{
	float:left;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found .right_box{
	float:right;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found.not_found {

}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found.not_found .btn_wrap {
	text-align: center;
	width:auto;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found.not_found .btn_wrap li{
	margin:0;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found.not_found .btn_wrap .btn_style {
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size:20px;
	font-size:2.0rem;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found.keyword_search .sec_search_table {
	width: 100%;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found.keyword_search .sec_search_table input[type=text] {
	font-size: 18px;
	font-size: 1.8rem;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #555555;
	box-sizing: border-box;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found.keyword_search .sec_search_table .search_btn {
	width: 120px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .search_found.keyword_search .sec_search_table .btn_wrap .btn_style {
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	font-size: 20px;
	font-size: 2.0rem;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .content_bottom .btn_wrap {
	width: auto;
	float: left;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .content_bottom .btn_wrap li {
	margin: 0;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .content_bottom .btn_wrap li .btn_style {
	width: 210px;
	height: 40px;
	line-height: 40px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .content_bottom .pager_wrap {
	text-align: right;
	float: right;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list{
	border-top:solid 1px #ccc;
	margin-top:20px;
	padding-top:20px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list > li {
	width: 100%;
	display: table;
	border: solid 1px #ccc;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 10px;
	background:#fff4f2;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .box_wrap{
	display: table;
	width: 100%;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .left_box, .page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .right_box {
	display: table-cell;
	vertical-align: middle;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .left_box {
	width: 40px;
	text-align: center;
	position: relative;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .left_box input[type=checkbox]{
	width:18px;
	height:18px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .left_box label {
	display: block;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .right_box {
	max-width:1px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .right_box a {
	color: #555;
	text-decoration: none;
	padding: 10px 40px 10px 0px;
	display: block;
	position:relative;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .right_box a .content_ttl {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .right_box a .content_ttl,
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .right_box a p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .right_box a .content_category{
	font-size:12px;
	font-size:1.2rem;
	color:#ea5d41;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .right_box a .content_category strong{
	font-size:14px;
	font-size:1.4rem;
	font-weight:bold;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .right_box a .ic:before {
	width:18px;
	height:18px;
	vertical-align: text-bottom;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list li .right_box a.ic:before {
	color: #ccc;
	font-size: 24px;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -12px;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list_date {
	padding: 10px;
	border-top: solid 1px #ccc;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list .posted_ability {
	float: right;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list .posted_ability li .ic_heart:before{
	color:#F65800;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list .posted_ability li{
    display: inline-block;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list .posted_ability span {
	color: #fa216f;
}
.page_wrap.page_mypage .content_wrap .sec_mypage .tab_content .consult_list .post_date {
	color: #372e2a;
	float: left;
	font-size:12px;
	font-size:1.2rem;
}
/*--- page_category ---*/
.page_wrap.page_category .content_wrap .content .sec_category {
	margin: 0 auto;
}
.page_wrap.page_category .content_wrap .content .sec_category .sec_ttl {
	padding: 0 0 10px;
    margin: 0 auto 25px;
    border-bottom: #fb6e52 solid 2px;
    color: #372e2a;
    font-size: 16px;
    font-size: 1.6rem;
}
.page_wrap.page_category .content_wrap .content .sec_category .sec_ttl.ic:before{
	width:40px;
	height:40px;
	margin-right:10px;
}

.page_wrap.page_category .content_wrap .content .sec_category .sec_ttl strong {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 10px;
}
.page_wrap.page_category .content_wrap .content .sec_category .comment {
    padding: 0 15px 0 15px;
    font-size: 16px;
    font-size: 1.6rem;
}
.page_wrap.page_category .content_wrap .content .sec_category .comment p + p {
    margin-top: 20px;
}
.page_wrap.page_category .content_wrap .content .sec_category .btn_wrap{
	border-top: solid 1px #ccc;
	margin: 20px 0 0;
	padding: 20px 0 0;
	text-align: center;
}
.page_wrap.page_category .content_wrap .content .sec_category .btn_wrap .btn_style{
	width:200px;
	height:50px;
	line-height:50px;
	font-size:20px;
	font-size:2.0rem;
}
.page_wrap.page_category .content_wrap .content .sec_category_list{
	background: #eee;
	border-radius: 0 0 5px 5px;
	padding-bottom: 20px;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .sec_ttl{
	color: #fff;
	height: 56px;
	background-color: #fb6e52;
	border-radius: 5px 5px 0 0;
	text-align: center;
	line-height: 56px;
	font-size: 18px;
	font-size: 1.8rem;
}

.page_wrap.page_category .content_wrap .content .sec_category_list .consult_category_list {
	text-align:center;
	padding: 20px 15px 10px;
	font-size:0;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consult_category_list .consultation_list {
	width: 230px;
	display: inline-block;
	background: #fff4f2;
	border-radius: 5px;
	line-height: 1.5;
	margin-right: 15px;
	margin-bottom: 15px;
	text-align: left;
	border:solid 1px #fff;
	box-sizing:border-box;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consult_category_list .sec_box_top .sec_box_category:before{
	width:16px;
	height:16px;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consultation_list .sec_box_top .sec_box_category,
.page_wrap.page_category .content_wrap .content .sec_category_list .consultation_list .sec_box_top .sec_box_category_detail {
    color: #F07A73;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consult_category_list .consultation_list > a {
	color: #555;
	display: block;
	padding: 10px;
	box-sizing: border-box;
	text-decoration: none;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consult_category_list .consultation_list p {
    font-size: 14px;
    font-size: 1.4rem;
}

.page_wrap.page_category .content_wrap .content .sec_category_list .consultation_list .sec_box_ttl {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consultation_list .btn_wrap .btn_style {
    width: 140px;
    height: 35px;
    line-height: 35px;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom {
    border-top: solid 1px #999;
    padding-top: 10px;
    margin: 10px;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_data {
    font-size: 12px;
    font-size: 1.2rem;
    display: inline-block;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_ability {
    float: right;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_ability li .ic_heart:before{
	color:#F65800;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_ability li {
    display: inline-block;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consult_category_list .consultation_list .sec_box_top {
	margin-bottom: 10px;
}
.page_wrap.page_category .content_wrap .content .sec_category_list .consult_category_list .consultation_list .sec_box_top .sec_box_category {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
}

.page_wrap.page_category .content_wrap .content .sec_category_list .consult_category_list .consultation_list .sec_box_top .sec_box_category_detail {
	font-size: 12px;
	font-size: 1.2rem;
}

.page_wrap.page_category .content_wrap .content .sec_category_list .consult_category_list .consultation_list:nth-child(3n){
	margin-right:0;
}
.page_wrap.page_category .sec_site_notice {
	border-radius: 5px;
	background: #f5f5f5;
	padding: 15px;
	line-height: 1.5;
	box-sizing: border-box;
}



/*--- page_category_detail ---*/
.page_wrap.page_category_detail .content_wrap .content .sec_category_detail .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 25px;
	border-bottom: #fb6e52 solid 2px;
	color: #372e2a;
	font-size: 16px;
	font-size: 1.6rem;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_detail .sec_ttl strong{
	font-size:18px;
	font-size:1.8rem;
	font-weight:bold;
	margin-right:10px;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_detail .sec_ttl.ic:before{
	width:40px;
	height:40px;
	margin-right:10px;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_detail .comment{
	padding:0 15px 0 15px;
	font-size: 16px;
	font-size:1.6rem;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_detail .comment p + p{
	margin-top:20px;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_detail .btn_wrap{
	border-top:solid 1px #ccc;
	margin:20px 0 0;
	padding:20px 0 0;
	text-align:center;
}

.page_wrap.page_category_detail .content_wrap .content .sec_category_list{
	background:#eee;
	border-radius:0 0 5px 5px;
	padding-bottom:20px;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_detail .btn_wrap .btn_style {
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-size: 2.0rem;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .sec_ttl {
	color: #fff;
	height: 56px;
	background-color: #fb6e52;
	border-radius: 5px 5px 0 0;
	text-align: center;
	line-height: 56px;
	font-size: 18px;
	font-size: 1.8rem;
}

.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consult_category_list {
	text-align: center;
	padding:20px 15px 10px;
	font-size: 0;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consult_category_list .consultation_list {
	width: 230px;
	display: inline-block;
	background: #fff4f2;
	border-radius: 5px;
	line-height: 1.5;
	margin-right: 15px;
	margin-bottom: 15px;
	text-align: left;
	box-sizing:border-box;
	border:solid 1px #fff;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consult_category_list .consultation_list:nth-child(3n) {
	margin-right:0;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consult_category_list .sec_box_top .sec_box_category,
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consult_category_list .sec_box_top .sec_box_category_detail {
	color: #F07A73;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consult_category_list .sec_box_top .sec_box_category{
	font-size:14px;
	font-size:1.4rem;
	font-weight:bold;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consult_category_list .sec_box_top .sec_box_category:before{
	width:16px;
	height:16px;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consult_category_list .sec_box_top .sec_box_category_detail{
	font-size:12px;
	font-size:1.2rem;
	margin-bottom:10px;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consult_category_list .consultation_list > a {
	color: #555;
	display: block;
	padding: 10px;
	box-sizing: border-box;
	text-decoration: none;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consult_category_list .consultation_list p{
	font-size:14px;
	font-size:1.4rem;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consultation_list .sec_box_ttl {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consultation_list .btn_wrap .btn_style {
    width: 140px;
    height: 35px;
    line-height: 35px;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom {
    border-top: solid 1px #999;
    padding-top: 10px;
    margin: 10px;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_data {
    font-size: 12px;
    font-size: 1.2rem;
    display: inline-block;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_ability {
    float: right;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_ability li .ic_heart:before{
	color:#F65800;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_ability li {
    display: inline-block;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consultation_list .consultation_detail_list .sec_box_top {
	margin-bottom: 10px;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consultation_list .consultation_detail_list .sec_box_top .sec_box_category {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
}
.page_wrap.page_category_detail .content_wrap .content .sec_category_list .consultation_list .consultation_detail_list .sec_box_top .sec_box_category_detail {
	font-size: 12px;
	font-size: 1.2rem;
}

.page_wrap.page_category .content_wrap .content .sec_category_list .consultation_list .consultation_list:nth-child(3n){
	margin-right:0;
}

.page_wrap.page_category_detail .sec_site_notice {
	border-radius: 5px;
	background: #f5f5f5;
	padding: 15px;
	line-height: 1.5;
	box-sizing: border-box;
}

.sec_answer_conf .input_form p {
	word-break: break-all;
}
.sec_answer_conf .input_form img {
	max-width: 100%;
}
/*--- page_search_results ---*/
.page_wrap.page_search_results .content_wrap .content .sec_category {
	margin: 0 auto;
}
.page_wrap.page_search_results .content_wrap .content .sec_category .sec_ttl {
	padding: 0 0 10px;
    margin: 0 auto 25px;
    border-bottom: #fb6e52 solid 2px;
    color: #372e2a;
    font-size: 16px;
    font-size: 1.6rem;
}
.page_wrap.page_search_results .content_wrap .content .sec_category .sec_ttl.ic:before{
	width:40px;
	height:40px;
	margin-right:10px;
}

.page_wrap.page_search_results .content_wrap .content .sec_category .sec_ttl strong {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 10px;
}
.page_wrap.page_search_results .content_wrap .content .sec_category .comment {
    padding: 0 15px 0 15px;
    font-size: 16px;
    font-size: 1.6rem;
}
.page_wrap.page_search_results .content_wrap .content .sec_category .comment p + p {
    margin-top: 20px;
}
.page_wrap.page_search_results .content_wrap .content .sec_category .btn_wrap{
	border-top: solid 1px #ccc;
	margin: 20px 0 0;
	padding: 20px 0 0;
	text-align: center;
}
.page_wrap.page_search_results .content_wrap .content .sec_category .btn_wrap .btn_style{
	width:200px;
	height:50px;
	line-height:50px;
	font-size:18px;
	font-size:1.8rem;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list{
	background: #eee;
	border-radius: 0 0 5px 5px;
	padding-bottom: 20px;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .sec_ttl{
	color: #fff;
	height: 56px;
	background-color: #fb6e52;
	border-radius: 5px 5px 0 0;
	text-align: center;
	line-height: 56px;
	font-size: 18px;
	font-size: 1.8rem;
}

.page_wrap.page_search_results .content_wrap .content .sec_category_list .consult_category_list {
	text-align:center;
	padding: 20px 15px 10px;
	font-size:0;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consult_category_list .consultation_list {
	width: 230px;
	display: inline-block;
	background: #fff4f2;
	border-radius: 5px;
	line-height: 1.5;
	margin-right: 15px;
	margin-bottom: 15px;
	text-align: left;
	border:solid 1px #fff;
	box-sizing:border-box;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consult_category_list .sec_box_top .sec_box_category:before{
	width:16px;
	height:16px;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consultation_list .sec_box_top .sec_box_category,
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consultation_list .sec_box_top .sec_box_category_detail {
    color: #F07A73;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consult_category_list .consultation_list > a {
	color: #555;
	display: block;
	padding: 10px;
	box-sizing: border-box;
	text-decoration: none;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consult_category_list .consultation_list p {
    font-size: 14px;
    font-size: 1.4rem;
}

.page_wrap.page_search_results .content_wrap .content .sec_category_list .consultation_list .sec_box_ttl {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consultation_list .btn_wrap .btn_style {
    width: 140px;
    height: 35px;
    line-height: 35px;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom {
    border-top: solid 1px #999;
    padding-top: 10px;
    margin: 10px;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_data {
    font-size: 12px;
    font-size: 1.2rem;
    display: inline-block;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_ability {
    float: right;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_ability li .ic_heart:before{
	color:#F65800;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consultation_list .sec_box_bottom .posted_ability li {
    display: inline-block;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consult_category_list .consultation_list .sec_box_top {
	margin-bottom: 10px;
}
.page_wrap.page_search_results .content_wrap .content .sec_category_list .consult_category_list .consultation_list .sec_box_top .sec_box_category {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
}

.page_wrap.page_search_results .content_wrap .content .sec_category_list .consult_category_list .consultation_list .sec_box_top .sec_box_category_detail {
	font-size: 12px;
	font-size: 1.2rem;
}

.page_wrap.page_search_results .content_wrap .content .sec_category_list .consult_category_list .consultation_list:nth-child(3n){
	margin-right:0;
}
.page_wrap.page_search_results .sec_site_notice {
	border-radius: 5px;
	background: #f5f5f5;
	padding: 15px;
	line-height: 1.5;
	box-sizing: border-box;
}

.btn_wrap_more {
	margin: 0 auto;
    width: 150px;
    height: 45px;
}
   

.btn_wrap_more li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.more_comment {
    width: 100%;
    display: block;
    padding: 15px 0;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

.btn_wrap_more .btn_other {
	background-color: #ffffff;
    border: solid 2px #999999;
    box-shadow: 0 2px 0 #cccccc;
    display: block;
    line-height: 2.5;
    color: #2a2c37;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 45px;
}