@charset "utf-8";
/* CSS Document */


/* sec_consult_question */
.sec_consult_question .sec_desc {
	font-size:14px;
	color:#999999;
	margin-bottom: 20px;
}
.sec_consult_question .sec_desc .post_date {
	font-size:12px;
	float: right;
}
.sec_consult_question .sec_ttl {
	padding: 0 0 10px;
	margin: 0 auto 20px;
	border-bottom: #fb6e52 solid 2px;
	color: #372e2a;
	font-size: 16px;
	font-size: 1.6rem;
}
.sec_consult_question .sec_ttl.ic:before{
	width:40px;
	height:40px;
	margin-right:10px;
}
.sec_consult_question .sec_ttl strong {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 10px;
}
.sec_consult_question .content_ttl{
	font-size:20px;
	font-size:2rem;
	border-bottom:solid 1px #ccc;
	margin-bottom:15px;
	padding: 0 15px 20px 15px;
}

.sec_consult_question .consult_question_content {
	margin-bottom: 30px;
	padding:0 20px;
	font-size:16px;
	line-height:1.8;
	word-break:break-all;
    word-wrap: break-word;
}
.sec_consult_question .consult_question_content p + p {
	margin-top: 20px;
}

.sec_consult_question .consult_question_content img {
	max-width: 100%;
}

.sec_consult_question .consult_user_date {
	text-align: right;
}
.sec_consult_question .btn_wrap {
	text-align: center;
	margin-top:20px;
	font-size: 0;
}
.sec_consult_question .btn_wrap li .btn_style {
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-size: 2.0rem;
}
.sec_consult_question .btn_wrap li .ic:before{
	font-size:18px;
	font-size:1.8rem;
}


/* sec_answer */
.sec_answer .sec_ttl{
	padding: 0 0 10px;
	margin: 0 auto 20px;
	border-bottom: #fb6e52  solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.sec_answer .input_form dl {
	padding-bottom: 20px;
}
.sec_answer .input_form dl dt{
	font-weight: bold;
	margin-bottom: 20px;
	padding-left: 10px;
	border-left: solid 4px #fb6e52;
}

.sec_answer .input_form dl dd {
	padding: 0 14px;
}
.sec_answer .input_form dl.input_nickname dd p {
    display: inline-block;
    margin-right: 20px;
}
.sec_answer .input_form dl.input_content dd textarea {
	height: 300px;
	font-size: 16px;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: solid 1px #ccc;
	box-sizing: border-box;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 10px;
	-webkit-box-shadow: 2px 2px 2px 0px #ccc inset;
	box-shadow: 2px 2px 2px 0px #ccc inset;
}
.sec_answer .input_form dl.input_content dd .input_desc {
	font-size: 14px;
	float: left;
}
.sec_answer .input_form dl.input_content dd .input_count {
	border: solid 1px #ccc;
	background: #f5f5f5;
	padding: 2px 10px;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 5px;
	float: right;
}
.sec_answer .input_form .btn_wrap{
	border-top: solid 1px #ccc;
	text-align: center;
	padding-top: 30px;
}
.sec_answer .input_form .btn_wrap li .btn_style {
	width: 300px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-size: 2.0rem;
}

/* sec_answer_conf */
.sec_answer_conf .sec_ttl{
	padding: 0 0 10px;
	margin: 0 auto 20px;
	border-bottom: #fb6e52 solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.sec_answer_conf .input_form dl {
	padding-bottom: 20px;
}
.sec_answer_conf .input_form dl + dl{
	border-top:solid 1px #ccc;
	padding-top:20px;
	word-break:break-word;
}
.sec_answer_conf .input_form dl dt{
	font-weight: bold;
	margin-left:10px;
	margin-bottom: 20px;
	padding-left: 10px;
	border-left: solid 4px #fb6e52;
}

.sec_answer_conf .input_form dl dd {
	padding: 0 25px;
	font-size:16px;
	font-size:1.6rem;
}
.sec_answer_conf .input_form dl.input_content dd p+p {
	margin-top:20px;
}
.sec_answer_conf .input_form .btn_wrap{
	border-top: solid 1px #ccc;
	text-align: center;
	padding-top: 30px;
}
.sec_answer_conf .input_form .btn_wrap .btn_style.btn_green {
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-size: 2.0rem;
	cursor:pointer;
}
.sec_answer_conf .input_form .btn_wrap .btn_style.btn_gray-o {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-size: 1.8rem;
}

/* sec_answer_comp */
.sec_answer_comp .sec_ttl{
	padding: 0 0 10px;
	margin: 0 auto 40px;
	border-bottom: #fb6e52 solid 2px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}
.sec_answer_comp .content_ttl{
	font-size:28px;
	font-size:2.8rem;
	text-align:center;
	margin-bottom:40px;
	padding-bottom:40px;
	border-bottom: #fb6e52 solid 2px;
}
.sec_answer_comp .sec_desc{
	font-size:16px;
	font-size:1.6rem;
	text-align:center;
	margin-bottom:30px;
}
.sec_answer_comp .btn_wrap{
	border-top:solid 1px #ccc;
	padding-top:40px;
}
.sec_answer_comp .btn_wrap .btn_style{
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-size: 2.0rem;
}
/*-----------------------------------------------*/
/*	section--404
/*-----------------------------------------------*/
.sec_404 .area_404{
	background:#F3F1F1;
	padding:40px 40px;
	position:relative;
	border-radius:5px;
}
.sec_404 .area_404:before{
	content:"\f002";
	font-family:font-awsome;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	font-size:7em;
	color:#B4AEAE;
	position:absolute;
	top:20px;
	right:100px;
}
.sec_404 .area_404:after{
	content: "？";
	font-size: 50px;
	color: #B4AEAE;
	position: absolute;
    top: 58px;
    right: 130px;
	font-weight: bold;
}
.sec_404 .sub_ttl_404{
	color:#707070;
	font-size:28px;
	font-size:2.8rem;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}
.sec_404 .ttl_404{
	text-align:center;
	font-size:28px;
	font-size:2.8rem;
	font-weight:bold;
	margin-bottom:20px;
}
.sec_404 .desc_404{
	font-size:16px;
	font-size:1.6rem;
	text-align:center;
	line-height:1.5;
}
.btn_wrap .top_link{
	height:35px;
	line-height:35px;
}
.btn_wrap .top_link a{
	padding:0 20px;
}
.page_wrap .content_wrap .sec_404 .btn_wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.page_wrap .content_wrap .sec_404 .btn_wrap .btn_style.btn_green {
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
}