<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ titles['guideline']['text'] }}</title>
{{ include('./inc/link.html') }}
</head>
<body>

<div class="page_wrap page_guideline">
{{ include('./inc/header.html') }}

<div class="content_wrap cf">
	<div class="content_inner">
		<section class="sec sec_guideline">
			<h2 class="sec_ttl">{{ titles['guideline']['text'] }}</h2>
			<p class="sec_desc">※投稿をすることによって自身や第三者へ不利益が発生し損害が発生した場合は書き込みを行った本人が責任を負うものとし、当社は一切の責任を放棄いたします。</p>
				<dl>
					<dt>禁止事項</dt>
					<dd>
						<ul>
							<li>自分以外の第三者の不利益となる書き込み</li>
							<li>目的のあるなし関わらず、当社以外のサービスを宣伝目的とした投稿</li>
							<li>出会いと目的とした書き込み</li>
							<li>18歳未満が書き込む行為</li>
							<li>無意味な文字列を書き込む行為</li>
							<li>犯罪を助長する行為</li>
							<li>自殺をほのめかしたり助長する行為</li>
						</ul>
					</dd>
				</dl>
		</section>
	</div>
</div>
{{ include('./inc/footer.html') }}
</div>
</body>
</html>
