<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>女子の性のお悩み相談室|ジョイスペ</title>
<meta name="description" content="セックス、恋愛、からだ、ひとりエッチなど「女子だけ」でお悩みを相談することができます。">
<link rel="stylesheet" href="{{ base_url }}pc/css/reset.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/html5reset.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/adjust.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/common.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/component.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/style.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/category_icons.css">
<script src="{{ base_url }}pc/js/jquery-1.11.0.js"></script>
</head>

<body>
<div class="page_wrap page_index">
	{{ include('./inc/header.html') }}
	<div class="block content_block_1">
		<div class="content_wrap cf">
			<div class="content">
				<section class="sec sec_search m_b_30">
					<div class="sec_inner">
						<div class="sec_block m_b_30">
							<h2 class="sec_ttl">キーワードから探す</h2>
							<p class="sec_desc">同じ悩みを持った人の相談をここで確認！</p>
						</div>
						
						<div class="sec_block">
							<p id="search_error"></p>
							<table class="sec_search_table m_b_20 validate">
								<tr>
									<td class="ic ic_search"></td>
									<td>
									<label for=""><input type="text" name="input_keyword" placeholder="生理中のオナニー 潮ふき方法 イケない"></label></td>
									<td class="search_btn">
										<ul class="btn_wrap">
											<li><button id="btn_keyword" type="submit" class="btn_style btn_blue">探す</button></li>
										</ul>
									</td>
								</tr>
							</table>
							{% if topViewed_ar|length > 0 %}
							<ul class="search_tag">
								<li><p>注目の相談：</p></li>
								{% for key, entry in topViewed_ar %}
								<li><a href="{{base_url}}cate{{entry.big_cate_id}}/{{entry.cate_id}}" class="t_link">{{entry.name}}</a></li>
								{% endfor %}
							</ul>
							{% endif %}
						</div>
					</div>
				</section>
				<section class="sec sec_category m_b_30">
					<div class="sec_block">
						<h2 class="sec_ttl">カテゴリーから探す</h2>
					</div>
					<div class="sec_inner">

		                {# {% for key, entry in category_ar %} 
						<div class="category_box">
							<h3 class="sec_box_ttl icon {{ entry.class }}"><a href="{{ base_url }}cate{{ entry.id }}">{{ entry.name }}</a></h3>
							<ul class="cf">
								{% for key2, entry2 in entry.category %}
								<li><a href="{{ base_url }}cate{{ entry.id }}/{{ entry2.id }}">{{ entry2.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
		                {% endfor %} #}
		                
		                {{ include('./index_category.html') }}

						<div class="create_consultation">
							<ul class="btn_wrap">
								<li><a href="{{ base_url }}bb/posting/" class="btn_style btn_green">新しく相談する</a></li>
							</ul>
						</div>

					</div>
				</section>
			</div>
			{{ include('./inc/sidebar.html') }}
		</div>
	</div>

	<div class="content_block_2">
			<section class="sec sec_consultation_list p_b_30">
				<h2 class="sec_ttl ic ic_comments m_b_30" id="consultation_list">お悩み相談一覧</h2>				
				<form id="answer" name="answer" method="post" action="{{ base_url }}bb/answer">
					<input type="hidden" name="answer_id" id="answer_id" ></input>
					<input type="hidden" name="bid" id="bid" ></input>
					<input type="hidden" name="subid" id="subid" ></input>
				</form>	
				<ul class="consultation_list_wrap">
				{% for key, entry in consultation_list_ar %}
					<li class="consultation_list">
						<a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}">
							<div class="sec_box_top">
								<p class="sec_box_category icon16 {{entry.class}}">{{ entry.big_category_name }}</p>
								<p class="sec_box_category_detail"><span>{{ entry.category_name }}</span></p>
							</div>
							<h3 class="sec_box_ttl">{{ entry.title }}</h3>
							{% if entry.message|striptags|trim|length > 41 %}
								<p class="sec_box_content m_b_10">{{ entry.message|striptags|trim|slice(0, 41) }}...</p>
							{% else %}
								<p class="sec_box_content m_b_10">{{ entry.message|striptags|trim }}</p>
							{% endif %}
							<ul class="btn_wrap t_center m_b_20">
								<li><p class="btn_style btn_blue">続きを読む</p></li>
								<li><a onclick="set_answer({{entry.big_cate_id}}, {{entry.cate_id}}, {{entry.id}});" class="btn_style btn_green">回答する</a></li>
							</ul>
							<div class="sec_box_bottom">
								<p class="posted_data">{{ entry.create_date|date("Y.m.d") }}</p>
								<ul class="posted_ability">
									{% if entry.like_count > 0 %}
									<li><p class="ic ic_heart">{{ entry.like_count }}</p></li>
									{% else %}
									<li><p class="ic ic_heart-o">{{ entry.like_count }}</p></li>
									{% endif %}
									{% if entry.comment_count > 0 %}
									<li><p class="ic ic_comment">{{ entry.comment_count }}</p></li>
									{% else %}
									<li><p class="ic ic_comment-o">{{ entry.comment_count }}</p></li>
									{% endif %}
								</ul>
							</div>
						</a>
					</li>
				{% endfor %}
				</ul>
				<ul class="pager_wrap">
				{{ pagination|raw }}
				</ul>
			</section>
	</div>

	<div class="content_block_3">
		<div class="content_wrap">
			<section class="sec sec_site_notice">
				<p>お悩み相談室では女性の性に関する悩みを自由に相談できる掲示板です。匿名で相談または回答することができるので恥ずかしいあの話も気軽に話すことができます。一人で悩まずみんなで女性の性を語り合って解決しましょう！</p>
			</section>
		</div>
	</div>
	{{ include('./inc/footer.html') }}
</div>
<script src="{{ base_url}}pc/js/home.js"></script>
<script src="{{ base_url }}pc/js/pagination.js"></script>
<script>
	$(function(){
		if($('.search_tag li').length == 0) {
			$('.search_tag').css('border-top','none');
		}

		$("input[name='input_keyword']").keypress(function(e) {
		    if(e.which == 13) {
		        searchKeyword()
		    }
		});
		
		$("#btn_keyword").on('click', function(){
			searchKeyword()
		});
	});

	function set_answer(big_cate_id, cate_id, thread_id){
		document.answer.bid.value = big_cate_id;
		document.answer.subid.value = cate_id;
		document.answer.answer_id.value = thread_id;
		document.answer.submit();
		return false;
	}

	function searchKeyword() {
		var val = $("input[name='input_keyword']").val();
		$("input[name='input_keyword']").val(val.trim());
		if (val.trim() != '') {
			val = val.trim();
			post_cont = $(".search_tag");
			current_count = post_cont.children().length;
			url = "{{ base_url}}search/ajaxSearchKeywordConsultation";
			params = { keyword: val.trim() };
			$.ajax({
				type: "POST",
				url: url,
				data: params,
				dataType: 'TEXT',
				cache: false,
				success: function(data){
					if(data != "") {
						$('#search_error').text('').hide();
						window.location.href = "{{base_url}}search/?input_keyword="+val;
					} else {
						var search_error = $('#search_error');
						search_error.css('background-color', '#ef4f5a');
						search_error.css('color', '#fff');
						search_error.css('border-radius', '4px');
						search_error.css('padding', '10px');
						search_error.css('margin', '0 0 10px');
						search_error.text('キーワードが見つかりません。').show();
					}
				}
			});
		} else {
			$('#search_error').text('').hide();
		}
	}
</script> 
</body>
</html>
