<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>マイページ</title>
{{ include('./inc/link.html') }}
</head>

<body>
<div class="page_wrap page_mypage">
	{{ include('./inc/header.html') }}
	<div class="content_wrap cf">
		<div class="content">
			<div class="content_inner">
				<section class="sec sec_mypage">
					<h2 class="sec_ttl" id="consultation_list">マイページ</h2>
					<ul class="tab_menu" id="tab_menu">
						<li class="tab_unresolved current" id="tab_unresolved">未回答の相談</li>
						<li class="tab_history" id="tab_history">相談履歴</li>
						<li class="tab_bookmark" id="tab_bookmark">ブックマーク</li>
					</ul>
					<div class="tab_content content_unresolved content_1">
					{% if list_all_num > 0 %}
						<ul class="consult_list m_b_20">
							{% for key, entry in unanswered_ar %}
							<li>
								<div class="box_wrap" id="unanswered_id{{ entry.id }}">
									<div class="left_box">
										<input type="checkbox" name="check[]" value="{{ entry.id }}">
									</div>
									<div class="right_box">
										<a class="ic ic_angle-right" href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}">
											<p class="content_category icon16 {{ entry.class }}"><strong>{{ entry.big_category_name }}</strong>{{ entry.category_name }}</p>
											<h3 class="content_ttl">{{ entry.title }}</h3>
											<p>{{ entry.message|striptags|trim }}</p>
										</a>
									</div>
								</div>
								<div class="consult_list_date cf">
									<p class="post_date">{{ entry.create_date|date("Y.m.d H:i") }}</p>
									<ul class="posted_ability">
										{% if entry.like_count > 0 %}
										<li><p class="ic ic_heart">{{ entry.like_count }}</p></li>
										{% else %}
										<li><p class="ic ic_heart-o">{{ entry.like_count }}</p></li>
										{% endif %}
										{% if entry.comment_count > 0 %}
										<li><p class="ic ic_comment">{{ entry.comment_count }}</p></li>
										{% else %}
										<li><p class="ic ic_comment-o">{{ entry.comment_count }}</p></li>
										{% endif %}
									</ul>
								</div>
							</li>
							{% endfor %}
						</ul>
						<div class="content_bottom cf">
							<ul class="btn_wrap">
								<li><a id="checked_delete" href="#" class="btn_style btn_gray-o">チェックした項目を削除</a></li>
							</ul>
							
							<ul class="pager_wrap">
								{{ pagination|raw }}
							</ul>
						</div>
					{% else %}
						<div class="search_found not_found cf">
							<p class="left_box">未回答の相談はありません。</p>
							<ul class="btn_wrap right_box">
								<li><a href="{{ base_url }}bb/posting" class="btn_style btn_green">相談する</a></li>
							</ul>
						</div>
					{% endif %}
					</div>

				</section>
			</div>
		</div>
		{{ include('./inc/mypage_sidebar.html') }}
	</div>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script>
	$("#tab_history").on('click', function(){
		window.location.href = '{{ base_url }}user/my_page/2/';
	});
	$("#tab_bookmark").on('click', function(){
		window.location.href = '{{ base_url }}user/my_page/3/';
	});

	$('#checked_delete').on('click',function() {

		var cont = 0;
 		var checks=[];
        $(".consult_list input[name='check[]']:checked").each(function(){
			cont++;
            checks.push(this.value);
        });

        console.log(cont);

		if (cont == 0) {
			return false;
		}

		if (!confirm('チェックした項目を削除します\nよろしいですか？')) {
			return false;
		}
        console.log(checks);

		$.ajax({
			type: "POST",
			url: "{{ base_url }}user/delete_unanswer_ajax",
			data: {
			    "checks":checks,
			}
		}).done(function(data){
			window.location = "{{ base_url }}user/my_page/1";
		}).fail(function(data){
		    alert('error!!!');
		});

	});

</script> 
</body>
</html>
