<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>マイページ</title>
{{ include('./inc/link.html') }}
</head>

<body>
<div class="page_wrap page_mypage">
	{{ include('./inc/header.html') }}
	<div class="content_wrap cf">
		<div class="content">
			<div class="content_inner">
				<section class="sec sec_mypage">
					<h2 class="sec_ttl" id="consultation_list">マイページ</h2>
					<ul class="tab_menu" id="tab_menu">
						<li class="tab_unresolved" id="tab_unresolved">未回答の相談</li>
						<li class="tab_history" id="tab_history">相談履歴</li>
						<li class="tab_bookmark current" id="tab_bookmark">ブックマーク</li>
					</ul>

					<div class="tab_content content_bookmark content_3">
					{% if list_all_num > 0 %}
						<ul class="consult_list m_b_20">
				            {% for key, entry in bookmark_ar %}
							<li>
								<div class="box_wrap">
									<div class="left_box">
										<input type="checkbox" name="check[]" value="{{ entry.id }}">
									</div>
									<div class="right_box">
										<a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}" class="ic ic_angle-right">
											<p class="content_category icon16 {{ entry.class }}"><strong>{{ entry.big_category_name }}</strong>{{ entry.category_name }}</p>
											<h3 class="content_ttl">{{ entry.title }}</h3>
											<p>{{ entry.message|striptags|trim }}</p>
										</a>
									</div>
								</div>

								<div class="consult_list_date cf">
									<p class="post_date">{{ entry.create_date|date("Y.m.d H:i") }}</p>
									<ul class="posted_ability">
										{% if entry.like_count > 0 %}
										<li><p class="ic ic_heart">{{ entry.like_count }}</p></li>
										{% else %}
										<li><p class="ic ic_heart-o">{{ entry.like_count }}</p></li>
										{% endif %}
										{% if entry.comment_count > 0 %}
										<li><p class="ic ic_comment">{{ entry.comment_count }}</p></li>
										{% else %}
										<li><p class="ic ic_comment-o">{{ entry.comment_count }}</p></li>
										{% endif %}
									</ul>
								</div>

							</li>
							{% endfor %}
						</ul>
						<div class="content_bottom cf">
							<ul class="btn_wrap">
								<li><a id="checked_delete" href="#" class="btn_style btn_gray-o">チェックした項目を削除</a></li>
							</ul>

							<ul class="pager_wrap bookmark_pager_wrap">
								{{ pagination|raw }}
							</ul>
						</div>
					{% else %}
						<div class="search_found keyword_search">
							<p class="m_b_20">ブックマークした相談はありません。<br>キーワード入力で相談を検索することもできます。</p>
							<input type="hidden" name="page" id="search_page">
							<table class="sec_search_table">
								<tbody>
									<tr>
										<td><label for=""><input type="text" id="input_keyword" name="input_keyword" placeholder="生理中のオナニー 潮ふき方法 イケない" value="{{ input_keyword }}"></label></td>
										<td class="search_btn">
											<ul class="btn_wrap">
												<li><button name="keyword" type="submit" class="btn_style btn_blue">探す</button></li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<ul class="consult_list m_b_20">
							{% for key, entry in search_keyword_consultation_ar %}
							<li>
								<div class="box_wrap" style="padding-left:8px;">
									<div class="right_box">
										<a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}" class="ic ic_angle-right">
											<p class="content_category icon16 {{ entry.class }}"><strong>{{ entry.big_category_name }}</strong>{{ entry.category_name }}</p>
											<h3 class="content_ttl">{{ entry.title }}</h3>
											<p>{{ entry.message|striptags|trim }}</p>
										</a>
									</div>
								</div>

								<div class="consult_list_date cf">
									<p class="post_date">{{ entry.create_date|date("Y.m.d H:i") }}</p>
									<ul class="posted_ability">
										{% if entry.like_count > 0 %}
										<li><p class="ic ic_heart">{{ entry.like_count }}</p></li>
										{% else %}
										<li><p class="ic ic_heart-o">{{ entry.like_count }}</p></li>
										{% endif %}
										{% if entry.comment_count > 0 %}
										<li><p class="ic ic_comment">{{ entry.comment_count }}</p></li>
										{% else %}
										<li><p class="ic ic_comment-o">{{ entry.comment_count }}</p></li>
										{% endif %}
									</ul>
								</div>

							</li>
							{% endfor %}
						</ul>
						<div class="content_bottom cf">
							<ul class="pager_wrap search_pager_wrap">
								{{ pagination|raw }}
							</ul>
						</div>
					{% endif %}
					</div>

				</section>
			</div>
		</div>
		{{ include('./inc/mypage_sidebar.html') }}
	</div>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script>
	$("#tab_unresolved").on('click', function(){
		window.location.href = '{{ base_url }}user/my_page/1/';
	});
	$("#tab_history").on('click', function(){
		window.location.href = '{{ base_url }}user/my_page/2/';
	});

	$('#checked_delete').on('click',function() {
		var cont = 0;
 		var checks=[];
        $(".consult_list input[name='check[]']:checked").each(function(){
			cont++;
            checks.push(this.value);
        });

		if (cont == 0) {
			return false;
		}

		if (!confirm('チェックした項目を削除します\nよろしいですか？')) {
			return false;
		}

		$.ajax({
			type: "POST",
			url: "{{ base_url }}user/delete_bookmark_ajax",
			data: {
			    "checks":checks,
			}
		}).done(function(data){
//		    alert('OK!!');
			window.location = "{{ base_url }}user/my_page/3";
		}).fail(function(data){
		    alert('error!!!');
		});
	});	
	
	$('.search_pager_wrap a').on('click',function(){

		var page = $(this).attr('data-ci-pagination-page');
		var href = $(this).attr('href');
		var keyword = $('#input_keyword').val();
		$(this).attr('data-ci-pagination-page', '');
		if(page == 1) {
			$(this).attr('href', href+'?page='+page+'&input_keyword='+keyword+'#consultation_list');
		} else {
			$(this).attr('href', href+'&input_keyword='+keyword+'#consultation_list');
		}
	});
	
	$('.bookmark_pager_wrap a').on('click',function(){

		var page = $(this).attr('data-ci-pagination-page');
		var href = $(this).attr('href');
		$(this).attr('data-ci-pagination-page', '');
		if(page == 1) {
			$(this).attr('href', href+'?page='+page+'#consultation_list');
		} else {
			$(this).attr('href', href+'#consultation_list');
		}
	});

	$("button[name='keyword']").on('click', function(){
		var val = $("input[name='input_keyword']").val();
		if (val.trim() != '') {
 			window.location.href = '{{ base_url }}user/my_page/3/?input_keyword='+val;
		} else {
			$("input[name='input_keyword']").val('');
		}
	});

	$("input[name='input_keyword']").keypress(function(e) {
	    if(e.which == 13) {
	        var val = $("input[name='input_keyword']").val();
			if (val.trim() != '') {
	 			window.location.href = '{{ base_url }}user/my_page/3/?input_keyword='+val;
			} else {
				$("input[name='input_keyword']").val('');
			}
	    }
	});
</script> 
</body>
</html>
