<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>お問い合わせ送信完了</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_answer_comp">
{{ include('./inc/header.html') }}
	<div class="content_wrap cf">
		<div class="content">
			<div class="content_inner">
				<section class="sec sec_answer_comp m_b_30">
					<h2 class="sec_ttl">投稿完了</h2>
					<h3 class="content_ttl">回答の投稿が完了しました</h3>
					<p class="sec_desc">回答した内容はマイページで履歴を確認することが可能です。</p>
					<ul class="btn_wrap t_center m_b_20">
						<li>
							<a href="{{ base_url }}" class="btn_style btn_gray-o">トップページへ</a>
						</li>
						<li>
							<a href="{{ base_url }}cate{{ big_category_id }}/{{ category_id }}/{{ answer_id }}" class="btn_style btn_green">回答したページへ</a></li>
					</ul>
				</section>
			</div>
		</div>
		{{ include('./inc/sidebar.html') }}
	</div>
	{{ include('./inc/footer.html') }}
</div>
</body>
</html>
