<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="description" content="{{ meta_desc }}">
{{ include('./inc/link.html') }}
<link rel="stylesheet" href="/pc/css/consult.css?v=20160707">
<script>
$(function() {
	highslide_set();
});
</script>
</head>
<body>
<div id="highslide-container"></div>
<div id="img_zoom_wrap">
	<div id="img_zoom" style="width:150%;"></div>
</div>
<div class="page_wrap page_consult">
	{{ include('./inc/header.html') }}
	<div class="content_wrap cf">
		<div class="content">
			<section class="sec sec_consult_question m_b_30">
				<div class="content_inner">
					<h2 class="sec_ttl icon {{ consultation_info.class }}"><strong>{{ consultation_info.big_category_name }}</strong></h2>
					<h3 class="content_ttl">{{ consultation_info.title }}</h3>
					<p class="sec_desc"> <span class="user_name">相談者：{{ consultation_info.nick_name }}さん</span> <span class="post_date">{{ consultation_info.time_ago }}</span> </p>
					<input type="hidden" id="comment_count" value="{{ consultation_info.comment_count }}">
					<div class="consult_question_content">
						{% if consultation_info.up_image != null %}
						<p><img src="{{ consultation_info.up_image }}"></p>
						{% endif %}
						<p>{{ consultation_info.message|raw|nl2br }}</p>
					</div>

					<ul class="btn_wrap">
						<form id="answer" name="answer" method="post" action="{{ base_url }}bb/answer">
							<input type="hidden" name="answer_id" id="answer_id" value="{{ consultation_info.id }}"></input>
							<input type="hidden" name="bid" id="bid" value="{{ bid }}"></input>
							<input type="hidden" name="subid" id="subid" value="{{ subid }}"></input>
						</form>	
						{% if user_login_flag %}
						<li>
							<a href="javascript:void(0);" onclick="document.answer.submit();return false;" class="btn_style btn_green">回答する</a>
						</li>
						{% endif %}

						<li>
							<a href="javascript:void(0);" class="btn_style {{ btn_orange_color }} btn_update_eval" data-mess-id="{{consultation_info.id}}" data-user-id="{{consultation_info.user_id}}" data-thread-mode="0">私もそう思う<span class="ic ic_heart">{{ consultation_info.like_count }}</span></a>
						</li>
						{% if user_login_flag %}
						<li>
							<a href="javascript:void(0);" class="btn_style {{ btn_bookmark_color }} ic ic_bookmark btn_bookmark" data-thread-id="{{consultation_info.id}}" data-user-id="{{is_own_replay}}" data-bookmark-mode="{{flag}}">ブックマークする</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</section>
			<section class="sec sec_consult_answer">

				{% for key, entry in response_ar %}
				<div class="content_inner">
					<p class="user_name">{{ entry.nick_name }}さん</p>
					<div class="consult_answer_list">
						<div class="comment">
							{% if entry.up_image != null %}
							<p><img src="{{ entry.up_image }}"></p>
							{% endif %}
							{% if colorSwitch == 1 %}
								{% if entry.rank > 80 %}
								<p class="onayami_tally_count_1">{{ entry.message|raw|nl2br }}</p>
								{% elseif entry.rank > 50 %}
								<p class="onayami_tally_count_2">{{ entry.message|raw|nl2br }}</p>
								{% elseif entry.rank > 5 %}
								<p class="onayami_tally_count_3">{{ entry.message|raw|nl2br }}</p>
								{% else %}
								<p class="onayami_tally_count_4">{{ entry.message|raw|nl2br }}</p>
								{% endif %}
							{% else %}
							<p>{{ entry.message|raw|nl2br }}</p>
							{% endif %}
						</div>
						<div class="content_bottom cf">
							<p class="post_date">{{ entry.time_ago }}</p>

							<ul class="btn_wrap">
								<li><a href="javascript:void(0);" class="btn_style {{ entry.btn_orange_color }} btn_update_eval" data-mess-id="{{entry.id}}" data-user-id="{{entry.user_id}}">私もそう思う<span class="ic ic_heart">{{ entry.evaluate }}</span></a></li>
							</ul>
						</div>
					</div>

<!--					{% for key2, entry2 in entry.reply_ar %} -->
					{% if entry.reply_ar[0].flag %}
					<ul class="destination">
						<li>{{ entry.replay_nick_name }}</li>
						<li>{{ entry.nick_name }}</li>
					</ul>

 					<div class="comment_reply">
						<div class="comment">
							<p>
							{{ entry.reply_message|raw|nl2br }}
							</p>
						</div>
						<div class="content_bottom cf">
							<p class="post_date">{{ entry.replay_cre_date }}</p>

							<ul class="btn_wrap">
								<li><a href="javascript:void(0);" class="btn_style {{ entry.replay_orange_color }} btn_update_eval" data-mess-id="{{entry.reply_message_id}}" data-user-id="{{entry.replay_owner_id}}">私もそう思う<span class="ic ic_heart">{{ entry.replay_evaluate }}</span></a></li>
							</ul>
						</div>
					</div>
					{% else %}
						{% if is_own_replay != entry.response_id and consultation_info.user_id == is_own_replay %}
						<div class="comment_reply_input comment_reply{{ entry.id }}">
							<form method="post" action="" class="validate_reply{{ entry.id }} validate">
							<input type="hidden" name="message_id" value="{{ entry.id }}">
							<input type="hidden" name="thread_id" value="{{ entry.thread_id }}">
							<input type="hidden" name="replay_nick_name" value="{{ consultation_info.nick_name }}">
							<input type="hidden" name="nick_name" value="{{ entry.nick_name }}">
							<h3 class="content_ttl">返信コメント</h3>
							<p class="error" style="display:none;">・本文を入力してください。</p>
							<textarea class="consult_message" name="consult_message" placeholder="返信コメントを入力してください" maxlength="300"></textarea>
							<p class="input_desc">※全角300文字以内</p>
							<ul class="btn_wrap">
								<li>
									<button type="submit" class="btn_style btn_blue">送信する</button>
								</li>
							</ul>
							</form>
						</div>						
						{% endif %}
					<script>
					$(function() {
						$(".validate_reply{{ entry.id }}").validate({
							rules: {
								consult_message:{
									required: true
								}
							},
							messages: {
								consult_message:{
									required: "返信コメントを入力してください。"
								}
							},
							errorElement: "p",
							errorPlacement:function(error,element){
								error.insertBefore($(element));
							},
							submitHandler: function(form) {
								var $form = $('.validate_reply{{ entry.id }}');
								$.ajax({
								    url:"{{ base_url }}bb/reply_answer",
							        type:"POST",
							        data:$form.serialize(),
								}).done(function(data){
									$('.comment_reply{{ entry.id }}').replaceWith(data.html);
								}).fail(function(data){
								    alert('error!!!');
								});
							}
						});
					});
					</script>
					{% endif %}

<!--					{% endfor %}  -->

				</div>
				{% endfor %}
			</section>
			{% if response_ar|length == 10 and consultation_info.comment_count > 10 %}
					<div class="more_comment" data-consult-id="{{consultation_info.id}}">
						<ul class="btn_wrap_more">
							<li><a id="show_more_data" href="javascript:void(0)" class="btn_other">もっと見る</a></li>
						</ul>
					</div>
			{% endif %}
		</div>
		{{ include('./inc/sidebar.html') }}
	</div>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script>
$(function() {
	//hide validate element
	$('.validate2 .error').hide();
	$('.error').hide();
	
	$('input[type=text], textarea').blur(function(){
		$(this).val($(this).val().trim());
	});
});
</script>
</body>
</html>
