{% extends './inc/doctype.html' %}

{% block title %}{{ site_name }}-相談フォーム{% endblock %}

{% block body %}
<div class="page_wrap page-consultation">
    {{ include('./inc/header_after_logging.html') }}
    {{ include('./inc/breadcrumb_list.html') }}
	<div class="conteiner">
		<section class="content_box consultation">
			<div class="consultation_wrap">
				<h1 class="template_box_h">相談内容の入力</h1>
				<div class="box_inner_size">
					<input type="hidden" name="nickname" value="{{ val_nickname }}">
						<dl class="consultation_box">
							<dt class="user_name_ttl">ニックネーム</dt>
							<dd class="user_name">{{ set_value('nickname') }}さん</dd>
						</dl>
						<dl>
							<dt class="customer_ttl"><span class="chose">相談するカテゴリを選択</span></dt>
							<dd>
							{{ set_value('big_category_name') }}
							</dd>
						</dl>

						<!-- change -->
						<dl class="consultation_box">

							<dl id="checkbox_1">
								<dt class="customer_detail">相談するカテゴリの詳細</dt>
								<dd>
									<label class="field_check">
										{{ set_value('category_name') }}
									</label>
								</dd>
							</dl>

							<dl class="consultation_box">
								<dt class="consultation_ttl">タイトル</dt>
								<dd class="consultation_ttl_box">
									<label for="consultation_ttl_box_inner">
									{{ set_value('user_question_title') }}
									</label>
							</dl>
							<dl class="consultation_box">
								<dt class="consultation_ttl">相談内容</dt>
								<dd class="consultation_box">
									<label for="consultation_inner">
									{{ set_value('user_question') }}
									</label>
							</dl>
							<form id="consultation" name="consultation" method="post" action="">
    						{{ form_hidden|raw }}
							</form>
							<div class="btn_area_center m_t_30">
								<button id="back" type="submit" name="back" class="dark_green_btn btn_large" value="aaa">戻る</button>
								<button id="goto" type="submit" name="goto" class="dark_green_btn btn_large" value="aaa">投稿</button>
							</div>
						</dl>
				</div>
			</div>
		</section>
	</div>
	{{ include('./inc/footer.html') }}
</div>
{% endblock body %}

{% block javascripts %}
<script>
$(function(){
    $('#back').click(function() {
        $('#consultation').attr('action', '{{base_url}}bb/posting');
        $('#consultation').submit();
    });
    $('#goto').click(function() {
        $('#consultation').attr('action', '{{base_url}}bb/insert_consultation');
        $('#consultation').submit();
    });
});
</script>
{% endblock javascripts %}