{% extends './inc/doctype.html' %}

{% block title %}みんなの回答{% endblock %}

{% block body %}
					<ul>
					<li>タイトル：{{ consultation_info.title }}</li>
					<li>内容：{{ consultation_info.message|raw }}</li>
					<li>日付：{{ consultation_info.create_date|date("Y年m月d日H時i分") }}</li>
					<li>相談者：{{ consultation_info.nick_name }}</li>
					<li>大カテゴリ：{{ consultation_info.big_category_name }}</li>
					<li>小カテゴリ：{{ consultation_info.category_name }}</li>
					</ul>
{% endblock body%}


{% block javascripts %}
<script src="{{base_url}}pc/js/jquery.validate.min.js" type="text/javascript"></script>
<script>
$(function(){
	$("#resuponse").validate({
		rules: {
			send_response :{
				required: true
			}
		},
		messages: {
			send_response:{
				required: "回答内容を入力してください"
			}
		},
		errorPlacement:function(error,element){
console.dir(error);
			// (入力フィールドの)name+’_err’のidをもつlabelに出力
			//error.insertAfter($('#'+ element.attr('name') + '_err'));
			error.appendTo($('#'+ element.attr('name') + '_err'));
		},
		submitHandler: function(form) {
			var temp = $("textarea[name='send_response']").val();
			$("<span class='confirm_text'>"+temp+"</span>").insertAfter("textarea[name='send_response']");
			$("textarea[name='send_response']").hide();
			$(".confirm").hide();
			$(".send_response").show();
			// do other stuff for a valid form
			$('#response_goto').on('click', function(){
				form.submit();
			});
		}
	});

	$('#response_back').on('click', function(){
		var temp = $("textarea[name='send_response']").val();
		var validator = $("#resuponse").validate();
		validator.resetForm();
		$("textarea[name='send_response']").show();
		$("textarea[name='send_response']").val(temp);
		$(".confirm").show();
		$(".send_response").hide();
		$(".confirm_text").remove();
	});

})

$(function() {
    $(".answer_area").css("display","none");
    $(".btn_area_center").click(function(){
        $(this).toggleClass("open").next().slideToggle("nomal");
    });
});
</script> 
<script type="text/javascript">
$(function() {
    $( 'a[rel*=leanModal]').leanModal({
        top: 50,
        overlay : 0.5,
        closeButton: ".cancel_btn"
    });
});

$('.bookmark_message').on('click', function(){
	var faq_id = {{ user_question_data.id }};
	$.ajax({
		url:'{{ base_url }}bb/book_mark_ajax2',
		type:'post',
		dataType:'json',
		data:{mark:faq_id},
	})
	.done(function(res){
	    $('#bookmark_modal').trigger("click");
	});
});
</script> 
<script>
	$(":checked").parent().css("background","#ffffff");
	$("input").click(function(e) {
		var t = e.target.type;
		var chk = $(this).prop('checked');
		var name = $(this).attr('name');
		if(t == 'checkbox') {
			if(chk == true){
				$(this).parent().css('background', '#ffcccc');
			} else {
				$(this).parent().css('background-color', '#cccccc');
			} 
			return true;
		}
	});
</script>
{% endblock javascripts %}