<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>投稿完了</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_question_comp">
{{ include('./inc/header.html') }}

	<div class="content_wrap cf">
		<div class="content_inner">
		<section class="sec sec_question_comp">
			<h2 class="sec_ttl">相談内容の投稿完了</h2>
			<div class="input_form">
				<div class="caution">
					<h3 class="content_ttl">投稿が完了しました</h3>
					<p class="sec_desc">全ての回答に返信がつくとは限りませんので<br>ご理解いただきますようお願い申し上げます。</p>
				</div>
				<ul class="btn_wrap t_center m_b_20">
					<li>
						<a href="{{ base_url }}user/my_page" class="btn_style btn_gray-o">マイページへ</a></li>
					<li>
						<a href="{{ base_url }}cate{{ big_category_id }}/{{ category_id }}/{{ question_id }}" class="btn_style btn_green">相談したページへ</a></li>
				</ul>
			</div>
		</section>
		</div>
	</div>
	{{ include('./inc/footer.html') }}
</div>
</body>
</html>