<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>相談内容の入力</title>
{{ include('./inc/link.html') }}
</head>

<body>
<div class="page_wrap page_question">
	{{ include('./inc/header.html') }}
	<div class="content_wrap cf">
		<div class="content_inner">
			<section class="sec sec_question">
				<form method="post" action="{{ base_url }}bb/confirm" class="question_form validate">
					<input type="hidden" name="nickname" value="{{ nickname }}">
					<h2 class="sec_ttl">相談内容の入力</h2>
					<div class="input_form">
						<dl class="input_nickname">
							<dt class="ic_required">ニックネーム</dt>
							<dd><p>{{ nickname }}さん</p>
							<p class="t_right"><a href="{{ main_url}}user/settings" class="t_link">ニックネームの変更</a></p></dd>
						</dl>
						<dl class="input_category_list">
							<dt class="ic_required">相談するカテゴリを選択</dt>
							<dd>
								<select name="question_category_list" required="" aria-required="true" id="changeselect" >
									<option value="">選択してください</option>
									{% for key, bcat in form_cate_opt %}
										{% if select_big == bcat.id %}
											<option value="{{ bcat.id }}" selected="selected">{{ bcat.name }}</option>
										{% else %}
										<option value="{{ bcat.id }}" {% if bcat.id == values.big_cate_id %} selected="selected" {% endif %} >{{ bcat.name }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</dd>
						</dl>
						<dl class="input_category">
							<dt class="ic_required">カテゴリー詳細を選択</dt>
							<dd>
								<select name="question_category" id="sub_question_cat" required="" aria-required="true">
									<option value="">選択してください。</option>
										{% for key, scat in get_sub_cat %}
											{% if sm_id == scat.id %}
												<option value="{{ scat.id }}" selected="selected">{{ scat.name }}</option>
											{% else %}
												<option value="{{ scat.id }}">{{ scat.name }}</option>
											{% endif %}
										{% endfor %}
								</select>
							</dd>
						</dl>
						<dl class="input_ttl">
							<dt class="ic_required">タイトル</dt>
							<dd class="cf ui-count_form">
								{# <input type="text" name="question_subject" id="question_subject" maxlength="50" placeholder="タイトルを入力してください。"> #}
								{{form_input('question_subject',set_value('question_subject','',false),{placeholder:"タイトルを入力してください",class:"ui-count_input",maxlength:50})|raw}}
								<p class="input_desc">※全角10文字～50文字</p>
								<p class="input_count">50</p>
							</dd>
						</dl>
						<dl class="input_content">
							<dt class="ic_required">相談内容</dt>
							<dd class="cf ui-count_form">
								{# <textarea placeholder="相談内容を入力してください。" name="question_message" id="question_subject" maxlength="1000"></textarea> #}
								{{form_textarea('question_message',set_value('question_message','',false),{placeholder:"相談内容を入力してください",class:"ui-count_input",maxlength:1000})|raw}}
								<p class="input_desc">※全角30文字～1000文字</p>
								<p class="input_count">1000</p>
							</dd>
						</dl>
						<dl class="input_image">
							<dt class="">画像</dt>
							<dd class="cf ui-count_form">
								<input id="upload_img" type="file" value="" name="userfile">
								<input id="image_file_name" type="hidden" value="" name="image_file_name">
								<p class="input_desc">※3Mbyte以内</p>
							</dd>
						</dl>
						<ul class="btn_wrap">
							<li>
								<button type="submit" class="btn_style btn_green">送信する</button>
							</li>
						</ul>
					</div>
				</form>
			</section>
		</div>
	</div>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script>
$(function(){
	var sm_id = '{{ sm_id }}';
	if (!sm_id){
		if ($('#changeselect').val()) {
			ajaxCat($('#changeselect').val());
		}
	}
	$('#changeselect').change(function(){
		ajaxCat($(this).val());
	});                                       
	$('#sub_question_cat').change(function(){
		$.cookie("sub_cat", $(this).val());
	});
	$('input[type=text], textarea').blur(function(){
		$(this).val($(this).val().trim());
	});
});
function ajaxCat(id) {
	$.ajax({
		type: "POST",
		url: '/bb/sub_category_ajax',
		data: {bid:id},
		dataType: 'JSON',
		cache: false,
		success:
			function(data){
					var opt = '<option value>選択してください。</option>';
					$.each(data, function(i, category){
							selctd = (typeof $.cookie("sub_cat") !== "undefined" && $.cookie("sub_cat") == category['id'])? 'selected=selected':'';
							opt += '<option value="'+category['id']+'"'+selctd+'>'+category['name']+'</option>';
					});
					$("#sub_question_cat").html(opt);
				}
	});
}
</script>
</body>
</html>
