	<ul class="destination">
		<li>{{ replay_nick_name }}</li>
		<li>{{ nick_name }}</li>
	</ul>

		<div class="comment_reply">
		<div class="comment">
			<p>
			{{ consult_message|raw|nl2br }}
			</p>
		</div>
		<div class="content_bottom cf">
			<p class="post_date">ちょうど今</p>

			<ul class="btn_wrap">
				<li><a href="javascript:void(0);" class="btn_style btn_orange-o btn_update_eval" data-mess-id="{{message_id}}" data-user-id="{{user_id}}">私もそう思う<span class="ic ic_heart">0</span></a></li>
			</ul>
		</div>