<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>{{ title }}</title>
<meta name="description" content="{{ desciption }}">
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_category">
	{{ include('./inc/header.html') }}
	<section class="sec sec_category">
		<h2 class="sec_ttl">{{ big_category_info.name }}</h2>
		<div class="sec_inner">
			<p>{{ big_category_info.contents }}</p>
			<ul class="btn_wrap">
				<form id="form_posting" method="post" action="{{ base_url }}bb/posting" name="form_posting">
				<input type="hidden" name="question_category_list" value="{{ big_category_info.id }}">
				</form>
				<li>
					<a id="new_question" class="btn_style btn_green" href="#">新しく相談する</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec sec_consultation_list">
		<h2 class="sec_ttl" id="consultation_list">{{ big_category_info.name }}（全て）の相談一覧</h2>
		<div class="sec_inner">
			<form id="answer" name="answer" method="post" action="{{ base_url }}bb/answer">
				<input type="hidden" name="answer_id" id="answer_id" ></input>
				<input type="hidden" name="bid" id="bid" ></input>
				<input type="hidden" name="subid" id="subid" ></input>
			</form>	
			<ul class="consultation_list_wrap">
	            {% for key, entry in consultation_list_ar %}
					<li class="consultation_list"> 
						<a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}">
							<div class="sec_box_top">
								<p class="sec_box_category icon {{entry.class}}">{{ entry.big_category_name }}</p>
								<p class="sec_box_category_detail"><span>{{ entry.category_name }}</span></p>
							</div>
							<h3 class="sec_box_ttl">{{ entry.title }}</h3>
							{% if entry.message|striptags|trim|length > 41 %}
								<p class="sec_box_content">{{ entry.message|striptags|trim|slice(0, 41) }}...</p>
							{% else %}
								<p class="sec_box_content">{{ entry.message|striptags|trim }}</p>
							{% endif %}
						</a>
						<ul class="btn_wrap t_center">
							<li><a onclick="set_answer({{entry.big_cate_id}}, {{entry.cate_id}}, {{entry.id}});" class="btn_style btn_green">この相談に回答する</a></li>
						</ul>
						<div class="sec_box_bottom">
							<p class="posted_data">{{ entry.create_date|date("Y.m.d") }}</p>
							<ul class="posted_ability">
								<li>
									{% if entry.like_count > 0 %}
									<p class="fa fa-heart">{{ entry.like_count }}</p>
									{% else%}
									<p class="fa fa-heart-o">{{ entry.like_count }}</p>
									{% endif %}
								</li>
								<li>
									{% if entry.comment_count > 0 %}
									<p class="fa fa-comment">{{ entry.comment_count }}</p>
									{% else %}
									<p class="fa fa-comment-o">{{ entry.comment_count }}</p>
									{% endif %}
								</li>
							</ul>
						</div>
					</li>
				{% endfor %}
			</ul>
			<ul class="pager_wrap">
			{{ pagination|raw }}
			</ul>
		</div>
	</section>
	<section class="sec sec_category_link">
		<h2 class="sec_ttl">カテゴリのタグ一覧</h2>
		<div class="sec_inner">
			<ul>
	            {% for key, entry in category_info_ar %}
				<li> <a class="category_detail_list " href="{{ base_url }}cate{{ big_category_info.id }}/{{ entry.id }}">{{ entry.name }}</a> </li>
				{% endfor %}
			</ul>
		</div>
	</section>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script type="text/javascript">
$(function() {
	$('#new_question').on('click', function(){
		$('#form_posting').submit();
	});
});

function set_answer(big_cate_id, cate_id, thread_id){
	document.answer.bid.value = big_cate_id;
	document.answer.subid.value = cate_id;
	document.answer.answer_id.value = thread_id;
	document.answer.submit();
	return false;
}
</script> 
</body>
</html>
