<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
<meta name="description" content="{{keyword}}のお悩み相談一覧">
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_search_result">
	{{ include('./inc/header.html') }}
	<section class="sec sec_search_result_list">
		<h2 class="sec_ttl" id="consultation_list">{{keyword}}のお悩み相談一覧</h2>
		<input type="hidden" id="input_keyword" value="{{keyword}}">
		<div class="sec_inner">
			<form id="answer" name="answer" method="post" action="{{ base_url }}bb/answer">
				<input type="hidden" name="answer_id" id="answer_id" ></input>
				<input type="hidden" name="bid" id="bid" ></input>
				<input type="hidden" name="subid" id="subid" ></input>
			</form>	
			<ul class="consultation_list_wrap">
				{% for key, entry in consultation_list_ar %}
					<li class="consultation_list"> 
						<a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}">
							<div class="sec_box_top">
								<p class="sec_box_category icon {{entry.class}}">{{ entry.big_category_name }}</p>
								<p class="sec_box_category_detail"><span>{{ entry.category_name }}</span></p>
							</div>
							<h3 class="sec_box_ttl">{{ entry.title }}</h3>
							{% if entry.message|striptags|trim|length > 41 %}
								<p class="sec_box_content">{{ entry.message|striptags|trim|slice(0, 41) }}...</p>
							{% else %}
								<p class="sec_box_content">{{ entry.message|striptags|trim }}</p>
							{% endif %}
						</a>
						<ul class="btn_wrap t_center">
							<li><a onclick="set_answer({{entry.big_cate_id}}, {{entry.cate_id}}, {{entry.id}});" class="btn_style btn_green">この相談に回答する</a></li>
						</ul>
						<div class="sec_box_bottom">
							<p class="posted_data">{{ entry.create_date|date("Y.m.d") }}</p>
							<ul class="posted_ability">
								<li>
									{% if entry.like_count > 0 %}
									<p class="fa fa-heart">{{ entry.like_count }}</p>
									{% else%}
									<p class="fa fa-heart-o">{{ entry.like_count }}</p>
									{% endif %}
								</li>
								<li>
									{% if entry.comment_count > 0 %}
									<p class="fa fa-comment">{{ entry.comment_count }}</p>
									{% else %}
									<p class="fa fa-comment-o">{{ entry.comment_count }}</p>
									{% endif %}
								</li>
							</ul>
						</div>
					</li>
				{% endfor %}
			</ul>			
			<ul class="pager_wrap">
				{{ pagination|raw }}
			</ul>
		</div>
	</section>

	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script>
	$('.pager_wrap a').on('click',function(){
		var page = $(this).attr('data-ci-pagination-page');
		var href = $(this).attr('href');
		var keyword = $('#input_keyword').val();
		$(this).attr('data-ci-pagination-page', '');
		if(page == 1) {
			$(this).attr('href', href+'?page='+page+'&input_keyword='+keyword+'#consultation_list');
		} else {
			$(this).attr('href', href+'&input_keyword='+keyword+'#consultation_list');
		}
	});

function set_answer(big_cate_id, cate_id, thread_id){
	document.answer.bid.value = big_cate_id;
	document.answer.subid.value = cate_id;
	document.answer.answer_id.value = thread_id;
	document.answer.submit();
	return false;
}
</script>
</body>
</html>
